<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-white  bg-white">
    <img src="assets/images/prft.png" class="logo" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link">John Smith <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link">Log out <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<hr class="my-0">
<div class="container-fluid mt-4">
  <section id="main" class="">
    <div class="card">
      <div class="card-header ">
        <h4 class="myRoboto mb-0">{{ examName }}</h4>
      </div>
      <div class="card-body mt-2">
        <div class="row">
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-0">
                <ul class="nav">
                  <li *ngFor="let category of questionCategory" class="nav-item nav-pills  nav-fill">
                    <a class="nav-link border-0  ">{{category}}</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Question Category 2</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Question Category 3</a>
                  </li> -->
                </ul>
              </div>
              <form action="/online-test/test-question?test=angularjs" method="post" id="questionForm">

                <div class="card-body">
                  <h4 class="mb-0">Question#: 2</h4>
                  <pre>Which of the following directive bootstraps AngularJS framework?</pre>

                  <div id="radio" class="col-xs-12">
                    <br>
                    <div class="input-group ">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          A
                          <input type="radio" id="radio1" value="1" name="radio" onselect="alert('clicke')">
                        </div>
                      </div>
                      <label for="radio1" class="form-control test-option ">ng-init</label><br>
                    </div>
                    <br>
                    <div class="input-group ">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          B
                          <input type="radio" id="radio2" value="2" name="radio">
                        </div>
                      </div>
                      <label for="radio2" class="form-control test-option ">ng-app</label>
                    </div>
                    <br>
                    <div class="input-group ">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          C

                          <input type="radio" id="radio3" value="3" name="radio">
                        </div>
                      </div>
                      <label for="radio3" class="form-control test-option ">ng-controller</label>
                    </div>
                    <br>
                    <div class="input-group ">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          D
                          <input type="radio" id="radio4" value="4" name="radio">
                        </div>
                      </div>
                      <label for="radio4" class="form-control test-option ">ng-bootstrap</label>
                    </div>
                    <br>
                  </div>
                  <input data-val="true" data-val-number="The field questionID must be a number." data-val-required="The questionID field is required."
                    id="questionID" name="questionID" type="hidden" value="2">
                  <input type="hidden" name="answers" value="4">
                  <input type="hidden" name="subject" value="angularjs">
                  <input id="selectedAnswer" name="selectedAnswer" type="hidden" value="">
                </div>
                <div class="card-footer">
                  <input type="submit" value="Next »" class="btn btn-primary" onclick="setAnswer();">
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-header">
                <h4 class="mb-0">Jump to Question</h4>
              </div>
              <div class="card-body">
                <button class="btn btn-danger btn-lg m-2">1</button>
                <button class="btn btn-danger btn-lg m-2">2</button>
                <button class="btn btn-danger btn-lg m-2">3</button>
                <button class="btn btn-danger btn-lg m-2">4</button>
                <button class="btn btn-danger btn-lg m-2">5</button>
                <button class="btn btn-danger btn-lg m-2">6</button>
                <button class="btn btn-danger btn-lg m-2">7</button>
                <button class="btn btn-danger btn-lg m-2">8</button>
                <button class="btn btn-danger btn-lg m-2">9</button>
                <button class="btn btn-danger btn-lg m-2">10</button>
                <button class="btn btn-danger btn-lg m-2">11</button>
                <button class="btn btn-danger btn-lg m-2">12</button>
                <button class="btn btn-danger btn-lg m-2">13</button>
                <button class="btn btn-danger btn-lg m-2">14</button>
                <button class="btn btn-danger btn-lg m-2">15</button>
                <button class="btn btn-danger btn-lg m-2">16</button>
                <button class="btn btn-danger btn-lg m-2">17</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
