<header>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-white  bg-white">
      <img src="assets/images/prft.png" class="logo" alt="">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link">John Smith <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link">Log out <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<hr class="my-0">
<main class="mt-3 mb-5">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h1 class="h3 mb-0 font-weight-bold">Instructions</h1>
      </div>
      <div class="card-body">
        <ol class="lead">
          <li>
            You must only use paper handed out at the examination venue.
            Other paper or notebooks are not permitted.
            Use your own pens.
          </li>
          <li>
            Your paper must be written with a black or blue ballpoint pen. You may not use a gel pen, roller pen,
            pencil or other writing instruments that do not show through on the carbon copies. It is your
            responsibility that the copy is legible.
          </li>
          <li>
            At digital examinations, you write your answer directly in the program. You will be given access to the
            examination questions in the programme when the examination starts.
          </li>
          <li>
            You may work on your exam paper until the time allotted for the examination expires. After the examination
            time has expired, you have 15 minutes to organise your papers before handing them in.
          </li>
          <li>
            Every sheet of paper MUST include the course code, candidate number, page number and date. Page 1 must also
            include the total number of pages. You should number your pages as you go along. The white and the yellow
            (green for law) papers are sorted into two stacks and each stack is bound with two tags. You retain the
            last copy. You can hand in your drafts by attaching them to the white answer paper. Remember to include the
            same information on the draft as on the other pages.
          </li>
          <li>
            At a digital examination, it is your responsibility to submit your exam paper electronically. Before you
            leave the examination venue you MUST contact the head invigilator to register/confirm that you have
            submitted your examination.
          </li>
        </ol>

        <button class="btn btn-primary btn-lg text-center" [routerLink]="[ '/exam', examId]">start test</button>
      </div>
    </div>
  </div>
</main>
