@import url('https://cdn.syncfusion.com/ej2/material.css');
@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Quicksand|Roboto|Raleway|Muli");

body{
  font-family: 'Muli', sans-serif;
}
.dataTables_length_code {
  float: left;
  width: 100%;
}

.dataTables_length_code label {
  float: left;
  width: 100%;
}

.dataTables_length_code label span {
  float: left;
  margin-right: 3px;
}

.dataTables_length_code select {
  float: left;
  margin-top: 0px !important;
  color: #000;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 75px;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 25px;
}

.datatable-header {
  padding-top: 20px;
}

.prft-logo {
  width: 48%;
  height: auto;
}

.required {
  color: red;
}

.is-invalid {}

/*Show red border if kept the input empty after touching*/
/* .ng-touched.ng-invalid-required {
	border-color: red;
} */
/* Show red border when stuff has been typed in, but its invalid */
/* .ng-dirty.ng-invalid {
  border-color: red;
} */
/*Show normal border color when typed in for the first time*/
/* .ng-untouched.ng-invalid {
	border-color: #ccc;	
}
.ng-submitted input.ng-invalid{
  border-color: red;
} */

.ng-invalid.ng-touched {
  border-color: red;
}

.search-icon {
  position: absolute;
  top: 40%;
  right: 25px;
  margin-top: -10px;
  color: lightblue;
}

.th-width {
  width: 50px;
}

.th-width-action {
  width: 165px;
}

table td {
  display: table-cell;
  vertical-align: middle !important;
}

h1 {
  display: inline-block;
}

.back-btn {
  display: inline-block;
  float: right;
}

.question-upload {
  padding-top: 39px;
}
