.dataTables_length_code{float:left;width: 100%;}
.dataTables_length_code label{float:left;width: 100%;}
.dataTables_length_code label span{float: left;margin-right: 3px;}
.dataTables_length_code select{float:left;margin-top:0px !important;color:#000;border-top: none;border-left: none;border-right: none;width: 75px;-webkit-appearance: none;-moz-appearance: none; padding-left: 25px;}
.datatable-header{padding-top: 20px;}
.prft-logo { width: 48%;height: auto;}