/* @import url("https://fonts.googleapis.com/css?family=Fira+Sans|Quicksand|Roboto"); */
.logo{
    max-width: 16%;
    height: auto;
}

hr{
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.nav-pills .nav-link {
    border-radius: 0;
}

div {
    /* font-family: 'Fira Sans', sans-serif; */
    font-family: 'Quicksand', sans-serif;
}

.core-pre {
    border: 1px dashed #93b7d5;
    background-color: #f8f8f8;
}

.padding-left-4{
    padding-left: 4rem !important;
}

