@import url("https://fonts.googleapis.com/css?family=Maven+Pro|Merriweather+Sans|Muli|Noto+Sans+TC");
.logo{
    max-width: 16%;
    height: auto;
}

hr{
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.nav-pills .nav-link {
    border-radius: 0;
}

div {
    /* font-family: 'Fira Sans', sans-serif; */
    /* font-family: 'Maven Pro', sans-serif; */
    font-family: 'Merriweather Sans', sans-serif;
}
.Merriweather {
    font-family: 'Merriweather Sans', sans-serif;
}
.muli {
    font-family: 'Muli', sans-serif;
}

/* .core-pre {
    border: 1px dashed #93b7d5;
    background-color: #f8f8f8;
} */

.margin-left-1 {
    margin-left: 1.5rem !important;
}
.padding-left-4{
    padding-left: 4rem !important;
}

.font-weight-700 {
    font-weight: 700;
}

