<ngx-ui-loader></ngx-ui-loader>
<app-header></app-header>
<hr class="my-0">
<div *ngIf="isFeedback == false">
  <div class="container-fluid mt-4">
    <section id="main" class="">
      <div class="card">
        <div class="card-header p-0 m-0">
          <div class="row justify-content-between">
            <div class="col-2 ">
              <div class="p-3 h5 mb-0 font-weight-bold">
                {{examName}}
              </div>
            </div>
            <div class="col-3 pl-0">
              <div class="muli bg-warning p-3 font-weight-bold h5 mb-0 text-white text-center">
                Time Left: {{hours}}:{{minute}}:{{second}}
              </div>
            </div>
          </div>
        </div>
        <div class="card-body lead">
          <div class="row">
            <div class="col-md-9">
              <div class="card">
                <div class="card-header p-0">
                  <ul class="nav">
                    <li *ngFor="let category of questionCategory" [ngClass]="{'btn-primary': false}" class="nav-item nav-pills py-2 nav-fill">
                      <a class="nav-link border-0">{{category}}</a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <pre class="core-pre  Merriweather" innerHTML="{{currentQuestionIndex + '. ' +
                    currentQuestion}}">
                  </pre>
                  <hr>
                  <div class="text-primary" *ngIf="currentQuestionQuestionType == 0">
                    <div class="" *ngFor="let option of currentQuestionOptionType; let i=index">
                      <input [checked]="questionListForOption[currentQuestionIndex-1]?.selectedOptionId == option?.optionId" (change)="setOptionIdArray($event)" type="radio" name="{{currentQuestionQuestionId}}" id=""  value="{{option?.optionId}}">
                      <span class="mx-3">{{i+1}}.</span>
                      <span style="display:inline-flex" innerHTML="{{option.option}}"></span>
                    </div>
                  </div>
                  <div class="text-primary" *ngIf="currentQuestionQuestionType == 1">
                    <div class="" *ngFor="let option of currentQuestionOptionType; let i=index">
                      <input [checked]="questionListForOption[currentQuestionIndex-1].options[i].isSelected" class="ml-3" type="checkbox" value="{{option?.optionId}}" name="{{currentQuestionQuestionId}}" (change)="setOptionIdArray($event)">
                      <!-- <ng-container *ngIf="questionListForOption[currentQuestionIndex-1].selectedOptionId !== null; else elseTemplate">
                          <input type="checkbox"  name="{{currentQuestionQuestionId}}" id="" value="{{option.optionId}}" [checked]="questionListForOption[currentQuestionIndex-1]?.selectedOptionId?.indexOf(option?.optionId)!== -1" (change)="setOptionIdArray($event)">
                      </ng-container>
                      <ng-template #elseTemplate>
                          <input type="checkbox"  name="{{currentQuestionQuestionId}}" id="" value="{{option.optionId}}" (change)="setOptionIdArray($event)">
                      </ng-template> -->
                      <span class="mx-3">{{i+1}}.</span>
                      <span style="display:inline-flex" innerHTML="{{option?.option}}"></span>
                    </div>
                  </div>
                  <div class="" *ngIf="currentQuestionQuestionType == 2">
                    <div class="form-group">
                      <label >Ans.</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" placeholder="Enter your answer"></textarea>
                    </div>
                  </div>

                </div>
                <div class="card-footer">
                  <button class="btn btn-primary" (click)="fn_previous();" [disabled]="currentQuestionIndex == 1">
                    Previous
                  </button>
                  <button class="ml-1 btn btn-primary" (click)="fn_next();" [hidden]="currentQuestionIndex == totalQuestion">
                    Save & Next
                  </button>
                  <button class="ml-1 btn btn-primary" (click)="fn_nextToNotSaveQuestion()" [hidden]="currentQuestionIndex == totalQuestion">
                      Next
                    </button>
                  <button (click)="fn_endExam()" class="ml-2 btn btn-danger pull-right">
                    End Exam
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-header">
                  <h4 class="mb-0">Jump to Question</h4>
                </div>
                <div class="card-body">
                  <div class="row">
                    <!-- <div class="col-md-2 m-1" *ngFor="let q of questionListForOption; let i=index">
                      <button class="btn btn-md" [ngClass]="{'btn-success': q.isAttempted, 'btn-danger': !q.isAttempted}" (click)="jumpToQuestion(i)" >{{i+1}}</button>
                    </div> -->
                    <button class="btn btn-md m-1 col-md-2" [ngClass]="{'btn-success': q?.isAttempted, 'btn-danger': !q?.isAttempted}" *ngFor="let q of questionListForOption; let i=index" (click)="jumpToQuestion(i)" >{{i+1}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="survey container-fluid mt-1" *ngIf="isFeedback == true">
  <div class="card">
    <div class="card-header">
      <h1 class="h3 font-weight-bold mb-0 pb-0">Survey/Feedback</h1>
    </div>
    <div class="card-body">
      <ol>
        <li class="mb-5" *ngFor="let item of question; let i=index">
          <div innerHTML="{{item?.question}}"></div>
          <ol>
            <li *ngFor="let op of item.options; let i=index">
              <span class="mx-3" *ngIf="item?.questionType == 0">
                <input  type="checkbox" name="" id="" value="{{op.optionId}}">
              </span>
              <span class="mx-3" *ngIf="item?.questionType == 1">
                <input  type="radio" name="{{item.questionId}}" >
              </span>
              <span style="display:inline-flex" innerHTML="{{op.option}}"></span>
            </li>
          </ol>
          <div class="row" *ngIf="item?.questionType == 2">
            <textarea class="col-8" name="" id="" rows="10"></textarea>
          </div>
          <hr>
        </li>
      </ol>
    </div>
  </div>
</div>
