<div>
    <div class="card mb-3">
        <div class="card-header">
            <h1 class="h3 font-weight-bold mb-0">Designations</h1>
        </div>
        <div class="datatable-header">
            <div class="mx-1 row">
                <div class="col-md-2">
                    <div class="">
                        <select class="custom-select" id="inlineFormCustomSelect" (change)="setRecordPerPage($event)">
                            <option selected>Per Page</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <button title="Add Designation" [routerLink]="['/manage/addDesignation']" class="btn btn-md btn-primary">
                        Add
                    </button>
                </div>
                <div class="col-md-3">
                    <input (keyup)="searchRecord($event)" type="text" ng-model="search" id="serach" placeholder="Search"
                        class="form-control" />
                    <a href="#" class="search-icon">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body pb-0 table-responsive">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Sr.</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th class="th-width">Active</th>
                        <th class="th-width-action">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let designation of designationList; let i = index">
                        <td>{{(designationModel.pageNumber-1)*10 + i +1 }}</td>
                        <td>{{ designation.name }}</td>
                        <td>{{ designation.description}}</td>
                        <td>
                            <i class="fa" [ngClass]="{'fa-check text-success': designation.isActive, 'fa-times text-danger': !designation.isActive}"
                                aria-hidden="true">
                            </i>
                        </td>
                        <td>
                            <button title="Edit" type="button" class="btn btn-md" rel="tooltip" [routerLink]="[ '/manage/editDesignation', designation.id ]">
                                <i class="fa fa-pencil-square-o text-dark" aria-hidden="true"></i>
                            </button>
                            <button title="Change Status" class="btn btn-md mx-1" type="button" rel="tooltip" (click)="fn_ChangeStatus(designation.id, designation.isActive)">
                                <i class="fa" [ngClass]="{'fa-toggle-on text-success': designation.isActive, 'fa-toggle-off text-danger': !designation.isActive}"
                                    aria-hidden="true"></i>
                            </button>
                            <button title="Delete" class="" type="button" class="btn btn-md" rel="tooltip" (click)="fn_deleteDesignation(designation.id)">
                                <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <pagination class="pull-right pr-2 " [totalItems]="totalItems" [itemsPerPage]="params.pageSize" (pageChanged)="pageChanged($event)"
            [maxSize]="3" [boundaryLinks]="true" [rotate]="false" previousText="PREVIOUS" nextText="NEXT" firstText="FIRST"
            lastText="LAST"></pagination>
    </div>
</div>