<div>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <h1 class=" h3 font-weight-bold mb-0">Aspirants List </h1>
        </div>
        <div class="datatable-header">
          <div class="row mx-1">
            <div class="col-md-2">
              <div class=" ">
                <select class="custom-select" name="example_length" (change)="setRecordPerPage($event)">
                  <option selected>Per Page</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>
            </div>
            <div class="col">
              <button class="btn btn-md btn-primary" [routerLink]="['/user/quickaddtraineeuser']">Quick Add Aspirant
              </button>
            </div>
            <!-- [(ngModel)]="params.searchString" -->
            <!-- <div class=""> -->
            <div class="col-md-3">
              <input (keyup)="searchRecord($event)" type="text" ng-model="search" id="serach" placeholder="Search"
                class="form-control" />
              <a href="#" class="search-icon">
                <i class="fa fa-search"></i>
              </a>
            </div>
            <!-- </div>    -->
            <div class="col-md-1">
              <button class="btn btn-md btn-primary" [routerLink]="['/user/addtraineeuser']">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body pb-0 table-responsive">
          <table class="table table-hover table-striped table-bordered">
            <thead>
              <tr>
                <th>Sr. No.</th>
                <th>Name</th>
                <th>Username</th>
                <th>Mobile</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let trainee of traineeList; let i = index">
                <td>{{i+1}}</td>
                <td>{{trainee.firstName}}</td>
                <td>{{trainee.email}}</td>
                <td>{{trainee.mobile}}</td>
                <td>
                  <button type="button" rel="tooltip" (click)="fn_getEmployee(emp.id)">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </button>&nbsp;
                  <button type="button" rel="tooltip" (click)="fn_deleteEmployee(emp.id)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>

                  <!-- 

                  <button [routerLink]="['/user/edittrainee']" class="btn-primary">Edit</button>
                  <button class="btn-primary">Delete</button> -->
                </td>
              </tr>
              <!-- <tr>
                <td>/about.html</td>
                <td>261</td>
                <td>33.3%</td>
                <td>$234.12</td>
                <td>
                  <button [routerLink]="['/user/edittrainee']" class="btn-primary">Edit</button>
                  <button class="btn-primary">Delete</button>
                </td>
              </tr>
              <tr>
                <td>/sales.html</td>
                <td>665</td>
                <td>21.3%</td>
                <td>$16.34</td>
                <td>
                  <button [routerLink]="['/user/edittrainee']" class="btn-primary">Edit</button>
                  <button class="btn-primary">Delete</button>
                </td>
              </tr>
              <tr>
                <td>/blog.html</td>
                <td>9516</td>
                <td>89.3%</td>
                <td>$1644.43</td>
                <td>
                  <button [routerLink]="['/user/edittrainee']" class="btn-primary">Edit</button>
                  <button class="btn-primary">Delete</button>
                </td>
              </tr>
              <tr>
                <td>/404.html</td>
                <td>23</td>
                <td>34.3%</td>
                <td>$23.52</td>
                <td>
                  <button [routerLink]="['/user/edittrainee']" class="btn-primary">Edit</button>
                  <button class="btn-primary">Delete</button>
                </td>
              </tr>
              <tr>
                <td>/services.html</td>
                <td>421</td>
                <td>60.3%</td>
                <td>$724.32</td>
                <td>
                  <button [routerLink]="['/user/edittrainee']" class="btn-primary">Edit</button>
                  <button class="btn-primary">Delete</button>
                </td>
              </tr>
              <tr>
                <td>/blog/post.html</td>
                <td>1233</td>
                <td>93.2%</td>
                <td>$126.34</td>
                <td>
                  <button [routerLink]="['/user/edittrainee']" class="btn-primary">Edit</button>
                  <button class="btn-primary">Delete</button>
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>
        <pagination class="pull-right pr-2" [totalItems]="100" [itemsPerPage]="params.pageSize"
          (pageChanged)="pageChanged($event)" [maxSize]="3" [boundaryLinks]="true" [rotate]="false"
          previousText="PREVIOUS" nextText="NEXT" firstText="FIRST" lastText="LAST"></pagination>
      </div>
    </div>
  </div>
</div>