<div>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <h1 class=" h3 font-weight-bold mb-0">Aspirants</h1>
        </div>
        <div class="datatable-header">
          <div class="row mx-1">
            <div class="col-md-2">
              <div class=" ">
                <select class="custom-select" name="example_length" (change)="setRecordPerPage($event)">
                  <option selected>Per Page</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>
            </div>
            <!-- <div class="col">
              <button class="btn btn-md btn-primary" [routerLink]="['/user/quickaddtraineeuser']">Quick Add Aspirant
              </button>
            </div> -->
            <div class="col-md-1">
              <button type="button" class="btn btn-md btn-primary" [routerLink]="['/user/addtraineeuser']">
                Add
              </button>
            </div>
            
            <div class="col-md-3">
              <input (keyup)="searchRecord($event)" type="text" ng-model="search" id="serach" placeholder="Search"
                class="form-control" />
              <a href="#" class="search-icon">
                <i class="fa fa-search"></i>
              </a>
            </div>
            <!-- </div>    -->
            
          </div>
        </div>
        <div class="card-body pb-0 table-responsive">
          <table class="table table-hover table-striped table-bordered">
            <thead>
              <tr>
                <th>Sr. No.</th>
                <th>Name</th>
                <th>Username</th>
                <th>Mobile</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let trainee of traineeList; let i = index">
                <td>{{i+1}}</td>
                <td>{{trainee.firstName}}</td>
                <td>{{trainee.email}}</td>
                <td>{{trainee.mobile}}</td>
                <td>
                  <!-- <button type="button" rel="tooltip" (click)="fn_getEmployee(emp.id)">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </button>&nbsp; -->
                  <button class="btn btn-md mx-1" type="button" rel="tooltip" (click)="fn_ChangeStatus(trainee.id, trainee.isActive)" title="Change Status">
                    <i class="fa" [ngClass]="{'fa-toggle-on text-success': trainee.isActive, 'fa-toggle-off text-danger': !trainee.isActive}"
                      aria-hidden="true"></i>
                  </button>
                  <button class="btn btn-md" type="button" rel="tooltip" (click)="fn_deleteTrainee(trainee.id)" title="Delete Trainee">
                    <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
        <pagination class="pull-right pr-2" [totalItems]="traineeModel.totalRecords" [itemsPerPage]="traineeModel.pageSize"
          (pageChanged)="pageChanged($event)" [maxSize]="3" [boundaryLinks]="true" [rotate]="false"
          previousText="PREVIOUS" nextText="NEXT" firstText="FIRST" lastText="LAST"></pagination>
      </div>
    </div>
  </div>
</div>