<app-header></app-header>
<hr class="my-0">
<main>
  <div class="container-fluid">
    <div class="card mt-1">
      <div class="card-header">
        <h1 class="h4 font-weight-bold  mb-0">Assigned Exams</h1>
      </div>
      <div class="card-body table-responsive ">
        <table class=" table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th> Sr.</th>
              <th> Name</th>
              <th> Description </th>
              <th> Duration </th>
              <th> Attempted</th>
              <th> Action</th>
            </tr>
          </thead>
          <ngx-ui-loader></ngx-ui-loader>
          <tbody>
            <tr *ngFor="let item of assignedExamList; let i=index">
              <td>{{i+1}}</td>
              <td> {{ item?.exam?.title }} </td>
              <td> {{ item?.exam?.description }} </td>
              <td> {{ item?.exam?.examDurationHours }}:{{ item?.exam?.examDurationMinutes }} (HR:MIN) </td>
              <td>
                <i class="fa" [ngClass]="{'fa-check text-success': item.isAttempted, 'fa-times text-danger': !item.isAttempted}"
                  aria-hidden="true">
                </i>
              </td>
              <td>
                <ng-container *ngIf="((item.exam.showResultInFront) && (item.isAttempted)); else elseTemplate">
                  <button class="btn btn-md btn-primary" (click)="fn_showResult(item.examId)">
                    View Result 
                  </button>
                </ng-container>
                <ng-template #elseTemplate>
                    <button [hidden]="item?.isAttempted" [disabled]="item?.isAttempted" [routerLink]="[ '/instruction', item?.examId]"
                    class="btn btn-md btn-primary">
                    Start test 
                  </button>
                  <label [hidden]="!item?.isAttempted" class="text-success font-weight-bold">Attempted </label>
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
