<header>
  <nav class="navbar navbar-expand-md navbar-white  bg-white">
    <img src="assets/images/prft.png" class="logo" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link">John Smith <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link">Log out <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<hr class="my-0">
<main>
  <div class="container-fluid">
    <div class="card mt-1">
      <div class="card-header">
        <h1 class="h4 font-weight-bold  mb-0">Assigned Exams</h1>
      </div>
      <!-- <div class="card-body">
        <ul>
          <li *ngFor="let item of assignedExamList; let i=index">
            <a [routerLink]="[ '/exam', '5c4eb23a4732952c9c7fcfc3']" id="exam" class="bg-danger text-white" [ngClass]="{'class': true}">
              <h3>Exam Name:- {{ item?.exam?.title }}</h3>
              <p class="lead p-0 m-0">Exam Description:- {{ item?.exam?.description }}</p>
              <p class="lead p-0 m-0">Exam Duration:- {{ item?.exam?.examDurationHours + 'HR:' + item?.exam?.examDurationMinutes + 'MIN'}}</p>
              <p class="lead p-0 m-0">Total Questions:- {{ item?.exam?.totalQuestions }} </p>
            </a>
          </li>
        </ul>
      </div> -->
      <div class="card-body table-responsive ">
        <table class=" table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th> Sr.</th>
              <th> Name</th>
              <th> Description </th>
              <th> Duration </th>
              <th> Attempted</th>
              <th> Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of assignedExamList; let i=index">
              <td>{{i+1}}</td>
              <td> {{ item?.exam?.title }} </td>
              <td> {{ item?.exam?.description }} </td>
              <td> {{ item?.exam?.totalQuestions }} </td>
              <td>
                <i class="fa" [ngClass]="{'fa-check text-success': item.isAttempted, 'fa-times text-danger': !item.isAttempted}"
                  aria-hidden="true">
                </i>
              </td>
              <td>
                <button [routerLink]="[ '/exam', '5c4eb23a4732952c9c7fcfc3']" class="btn btn-md btn-primary">Start
                  test</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
