<div class="row justify-content-center">
    <div class="col-md-12 mt-2">
        <h3 class="text-center">ADD DESIGNATION</h3>
    </div>
    <div class="col-md-7 mt-3">
        <form class="" [formGroup]="designationForm" (ngSubmit)="fn_saveDesignation(designationForm)">
            <div *ngIf="designationForm.errors" class="div alert alert-danger">
                The designation title is required
            </div>
            <div class="form-group row">
              <label for="designationTitle" class="col-sm-3 col-form-label">Designation Title</label>
              <div class="col-sm-9">
                <input 
                    formControlName="designationTitle"
                    type="text" 
                    class="form-control" 
                    id="desigantionTitle" 
                    placeholder="Designation Name">
                <div *ngIf="designationTitle.touched && designationTitle.invalid" class="alert alert-danger">Designation title is required</div>
              </div>  
            </div>
            <div class="form-group row">
                    <label for="designationDescription" class="col-sm-3 col-form-label">Designation Title</label>
                    <div class="col-sm-9">
                      <input 
                          formControlName="designationDescription"
                          type="text" 
                          class="form-control" 
                          id="desigantionTitle" 
                          placeholder="Designation Description">
                      <div *ngIf="designationDescription.touched && designationDescription.invalid" class="alert alert-danger">Designation title is required</div>
                    </div>  
                  </div>
            
            <button type="submit" class="btn btn-primary btn-md" [disabled]="!designationForm.valid">Submit</button>
            <button type="reset" class="btn btn-primary btn-md ml-3" (click)="frmReset()">Reset</button>

        </form>
    </div>
</div>
