<div class="col-md-12">
  <div class="row">
    <div class="card col-md-12 col-xs-12 col-lg-12">
      <div class="card-header">
        <h1>Add Employee</h1>
      </div>
      <div class="col-md-12 col-xs-12 col-lg-12">
        <form [formGroup]="employeeForm" (ngSubmit)="fn_saveEmployee(employeeForm)">
          <div class="sections">
            <div class="form-group">
              <label for="sel1">Team</label><span style="color:red">*</span>
              <select class="form-control" formControlName="teamId">
                <option value="null">--All--</option>
                <option *ngFor="let team of teamArray" value={{team.id}}>
                  {{team.name}}
                </option>
              </select>
              <div *ngIf="submitted && employeeControls.teamId.errors" class="invalid-feedback">
                <div *ngIf="employeeControls.teamId.errors.required">Team is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="firstName">First Name</label><span style="color:red">*</span>
              <input type="text" class="form-control" id="firstName" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && employeeControls.firstName.errors }">
              <div *ngIf="submitted && employeeControls.firstName.errors" class="invalid-feedback">
                <div *ngIf="employeeControls.firstName.errors.required">First Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="middleName">Middle Name</label><span style="color:red">*</span>
              <input type="text" class="form-control" id="middleName" formControlName="middleName" [ngClass]="{ 'is-invalid': submitted && employeeControls.middleName.errors }">
              <div *ngIf="submitted && employeeControls.middleName.errors" class="invalid-feedback">
                <div *ngIf="employeeControls.middleName.errors.required">Middle Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label><span style="color:red">*</span>
              <input type="text" class="form-control" id="lastName" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && employeeControls.lastName.errors }">
              <div *ngIf="submitted && employeeControls.lastName.errors" class="invalid-feedback">
                <div *ngIf="employeeControls.lastName.errors.required">Last Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="dateOfBirth">Date of Birth</label><span style="color:red">*</span>
              <input type="date" class="form-control" id="dateOfBirth" formControlName="dob" [ngClass]="{ 'is-invalid': submitted && employeeControls.dob.errors }">
              <div *ngIf="submitted && employeeControls.dob.errors" class="invalid-feedback">
                <div *ngIf="employeeControls.dob.errors.required">Date of birth is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="phone">Phone</label><span style="color:red">*</span>
              <input type="number" class="form-control" id="phone" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && employeeControls.phone.errors }">
              <div *ngIf="submitted && employeeControls.phone.errors" class="invalid-feedback">
                <div *ngIf="employeeControls.phone.errors.required">Phone number is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="mobile">Mobile</label><span style="color:red">*</span>
              <input type="number" class="form-control" id="mobile" formControlName="mobile" [ngClass]="{ 'is-invalid': submitted && employeeControls.mobile.errors }">
              <div *ngIf="submitted && employeeControls.mobile.errors" class="invalid-feedback">
                <div *ngIf="employeeControls.mobile.errors.required">Mobile number is required</div>
              </div>
            </div>
          </div>
          <div class="sections">
            <div class="section-heading">
              <h2>Permanent Address</h2>
            </div>
            <div class="form-group">
              <label for="Address">Address</label><span style="color:red">*</span>
              <textarea class="form-control" id="address1" formControlName="address1" [ngClass]="{ 'is-invalid': submitted && employeeControls.address1.errors }"></textarea>
              <div *ngIf="submitted && employeeControls.address1.errors" class="invalid-feedback">
                <div *ngIf="employeeControls.address1.errors.required">Address is required</div>
              </div>
              <textarea class="form-control" id="address2" formControlName="address2"></textarea>
            </div>
            <div class="form-group">
              <label for="city">City</label><span style="color:red">*</span>
              <input type="text" class="form-control" id="city" formControlName="city" [ngClass]="{ 'is-invalid': submitted && employeeControls.city.errors }">
              <div *ngIf="submitted && employeeControls.city.errors" class="invalid-feedback">
                <div *ngIf="employeeControls.city.errors.required">City is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="State">State</label><span style="color:red">*</span>
              <select class="form-control" formControlName="stateId" [ngClass]="{ 'is-invalid': submitted && employeeControls.stateId.errors }">
                <option value="null">--All--</option>
                <option *ngFor="let state of stateArray" value={{state.id}}>
                  {{state.name}}
                </option>
              </select>
              <div *ngIf="submitted && employeeControls.stateId.errors" class="invalid-feedback">
                <div *ngIf="employeeControls.stateId.errors.required">State is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="pincode">Pincode</label><span style="color:red">*</span>
              <input type="number" class="form-control" id="pincode" formControlName="pincode" [ngClass]="{ 'is-invalid': submitted && employeeControls.pincode.errors }">
              <div *ngIf="submitted && employeeControls.pincode.errors" class="invalid-feedback">
                <div *ngIf="employeeControls.pincode.errors.required">Pincode is required</div>
              </div>
            </div>
          </div>
          <div class="sections">
            <div class="section-heading">
              <h2>Current Address</h2>
            </div>
            <div class="form-group">
              <label for="Address">Address</label>
              <textarea class="form-control" id="currentAddress1" formControlName="currentAddress1" [ngClass]="{ 'is-invalid': submitted && employeeControls.currentAddress1.errors }"></textarea>
              <textarea class="form-control" id="currentAddress2" formControlName="currentAddress2"></textarea>
            </div>
            <div class="form-group">
              <label for="state"> City </label>
              <input type="text" class="form-control" id="currentCity" formControlName="currentCity" [ngClass]="{ 'is-invalid': submitted && employeeControls.currentCity.errors }">
            </div>
            <div class="form-group">
              <label for="currentStateId">State</label>
              <select class="form-control" formControlName="currentStateId" [ngClass]="{ 'is-invalid': submitted && employeeControls.currentStateId.errors }">
                <option value="null">--All--</option>
                <option *ngFor="let state of stateArray" value={{state.id}}>
                  {{state.name}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="currentPincode"> Pincode </label>
              <input type="number" class="form-control" id="currentPincode" formControlName="currentPincode"
              [ngClass]="{ 'is-invalid': submitted && employeeControls.currentPincode.errors }">
              <div *ngIf="submitted && employeeControls.currentPincode.errors" class="invalid-feedback">
                <div *ngIf="employeeControls.currentPincode.errors.required">Pincode is required</div>
              </div>
            </div>
          </div>

          <div class="sections">
            <div class="section-heading">
              <h2>Educational Details</h2>
            </div>
            <div class="form-group">
              <label for="course"> Course </label>
              <select class="form-control" formControlName="course" (change)="fn_getSelectedCourse($event)">
                <option value="null">--All--</option>
                <option *ngFor="let course of courseArray" value={{course.id}}>
                  {{course.name}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="yearOfPassing">Year Of Passing </label>
              <input type="number" class="form-control" id="yearOfPassing" formControlName="yearOfPassing">
            </div>
            <div class="form-group">
              <label for="institute"> Institution </label>
              <input type="text" class="form-control" id="institution" formControlName="institution">
            </div>
            <div class="form-group">
              <label for="institute"> Percentage </label>
              <input type="text" class="form-control" id="percentage" formControlName="percentage">
            </div>
            <div class="form-group">
              <input type="button" class="btn btn-default" id="btnAddNewEducationDetails" value="Add" (click)="fn_addNewCourse()">
            </div>
            <div class="container">
              <table class="table" id="educationDetailsTable">
                <thead>
                  <tr>
                    <th hidden="hidden">CourseID</th>
                    <th>Course</th>
                    <th>Year of Passing (YYYY)</th>
                    <th>School/College/University</th>
                    <th>Percentage %</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let educationField of educationArray; let i = index">
                    <td hidden="hidden">
                      <label>{{educationField.courseId}}</label>
                    </td>
                    <td>
                      <label>{{educationField.course}}</label>
                    </td>
                    <td>
                      <label>{{educationField.yearOfPassing}}</label>
                    </td>
                    <td>
                      <label>{{educationField.institution}}</label>
                    </td>
                    <td>
                      <label>{{educationField.percentage}}</label>
                    </td>
                    <td>
                      <button class="btn btn-default" type="button" (click)="fn_deleteCourse(i)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="form-group">
                <label for="isActive">IsActive :</label>
                <input type="checkbox" id="isActive" formControlName="isActive">
              </div>
              <div class="form-group">
                <label for="Interest">Interest: </label><span style="color:red">*</span>
                <div *ngFor="let interest of interestArray; let i=index" class="col-md-2">
                  <label>
                    <input type="checkbox" [value]="interest.value" (change)="fn_onInterestChange($event)" [(ngModel)]="interest.selected"
                      [ngModelOptions]="{standalone: true}">
                    {{interest.description}}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="other-details"> Note (If any): </label>
                <textarea class="form-control" id="note" formControlName="note"></textarea>
              </div>
            </div>
          </div>
          <div class="sections">
            <div class="section-heading">
              <h2>Login Details</h2>
            </div>
            <div class="form-group">
              <label for="email">Email :</label><span style="color:red">*</span>
              <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && employeeControls.email.errors }">
              <div *ngIf="submitted && employeeControls.email.errors" class="invalid-feedback">
                <div *ngIf="employeeControls.email.errors.required">Email is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password :</label><span style="color:red">*</span>
              <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && employeeControls.password.errors }">
              <div *ngIf="submitted && employeeControls.password.errors" class="invalid-feedback">
                <div *ngIf="employeeControls.password.errors.required">Password is required</div>
              </div>
            </div>
          </div>
          <div class="btn-sections">
            <button type="button" class="btn btn-default" (click)="fn_resetEmployeeDetails()">Reset</button>
            <button class="btn btn-default">Submit</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>