<div class="col-md-12">
  <div class="row">
    <div class="card col-md-12 col-xs-12 col-lg-12">
      <div class="card-header">
        <h1>Add Employee</h1>
      </div>
      <div class="col-md-12 col-xs-12 col-lg-12">
        <form [formGroup]="employeeForm" (ngSubmit)="fn_saveEmployee(employeeForm)">
          <div class="sections">
            <div class="form-group">
              <label for="sel1">Team</label><span style="color:red">*</span>
              <select class="form-control" formControlName="teamId">
                <option value="">--Select--</option>
                <option *ngFor="let team of teamArray" value={{team.id}}>
                  {{team.name}}
                </option>
              </select>
              <app-field-error-display [displayError]="isFieldValid(employeeForm, 'teamId')" errorMsg="Select team.">
              </app-field-error-display>
            </div>
            <div class="form-group">
              <label for="firstName">First Name <span class="required">*</span></label>
              <input type="text" class="form-control " id="firstName" formControlName="firstName" required>
              <app-field-error-display [displayError]="isFieldValid(employeeForm, 'firstName')" errorMsg="Enter valid first name.">
              </app-field-error-display>
            </div>
            <div class="form-group">
              <label for="middleName">Middle Name</label><span style="color:red">*</span>
              <input type="text" class="form-control" id="middleName" formControlName="middleName">
              <app-field-error-display [displayError]="isFieldValid(employeeForm, 'middleName')" errorMsg="Enter valid middle name.">
              </app-field-error-display>
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label><span style="color:red">*</span>
              <input type="text" class="form-control" id="lastName" formControlName="lastName">
              <app-field-error-display [displayError]="isFieldValid(employeeForm, 'lastName')" errorMsg="Enter valid last name.">
              </app-field-error-display>
            </div>
            <div class="form-group">
              <label for="dateOfBirth">Date of Birth</label><span style="color:red">*</span>
              <input type="date" class="form-control" id="dateOfBirth" formControlName="dob">
              <app-field-error-display [displayError]="isFieldValid(employeeForm, 'dob')" errorMsg="Enter valid date of birth.">
              </app-field-error-display>
            </div>
            <div class="form-group">
              <label for="mobile">Mobile</label><span style="color:red">*</span>
              <input type="text" class="form-control" id="mobile" formControlName="mobile">
              <app-field-error-display [displayError]="isFieldValid(employeeForm, 'mobile')" errorMsg="Enter valid mobile number">
              </app-field-error-display>
            </div>
          </div>
          <div class="sections">
            <div class="section-heading">
              <h2>Permanent Address</h2>
            </div>
            <div class="form-group">
              <label for="Address">Address</label><span style="color:red">*</span>
              <textarea class="form-control" id="address1" formControlName="address1"></textarea>
              <app-field-error-display [displayError]="isFieldValid(employeeForm, 'address1')" errorMsg="Enter permanent address">
              </app-field-error-display>
              <textarea class="form-control" id="address2" formControlName="address2"></textarea>
            </div>
            <div class="form-group">
              <label for="city">City</label><span style="color:red">*</span>
              <input type="text" class="form-control" id="city" formControlName="city">
              <app-field-error-display [displayError]="isFieldValid(employeeForm, 'city')" errorMsg="Enter permanent city">
              </app-field-error-display>
            </div>
            <div class="form-group">
              <label for="stateId">State</label><span style="color:red">*</span>
              <select class="form-control" formControlName="stateId">
                <option value="">--Select--</option>
                <option *ngFor="let state of stateArray" value={{state.id}}>
                  {{state.name}}
                </option>
              </select>
              <app-field-error-display [displayError]="isFieldValid(employeeForm, 'stateId')" errorMsg="Select permanent state">
              </app-field-error-display>
            </div>
            <div class="form-group">
              <label for="pincode">Pincode</label><span style="color:red">*</span>
              <input type="text" class="form-control" id="pincode" formControlName="pincode">
              <app-field-error-display [displayError]="isFieldValid(employeeForm, 'pincode')" errorMsg="Enter valid 6 digit permanent pincode">
              </app-field-error-display>
            </div>
          </div>
          <div class="sections">
            <div class="section-heading">
              <h2>Current Address</h2>
            </div>
            <div class="form-group">
              <label for="Address">Address</label><span style="color:red">*</span>
              <textarea class="form-control" id="currentAddress1" formControlName="currentAddress1"></textarea>
              <app-field-error-display [displayError]="isFieldValid(employeeForm, 'currentAddress1')" errorMsg="Enter current address">
              </app-field-error-display>
              <textarea class="form-control" id="currentAddress2" formControlName="currentAddress2"></textarea>
            </div>
            <div class="form-group">
              <label for="state"> City </label><span style="color:red">*</span>
              <input type="text" class="form-control" id="currentCity" formControlName="currentCity">
              <app-field-error-display [displayError]="isFieldValid(employeeForm, 'currentCity')" errorMsg="Enter current city">
              </app-field-error-display>
            </div>
            <div class="form-group">
              <label for="currentStateId">State</label><span style="color:red">*</span>
              <select class="form-control" formControlName="currentStateId">
                <option value="">--Select--</option>
                <option *ngFor="let state of stateArray" value={{state.id}}>
                  {{state.name}}
                </option>
              </select>
              <app-field-error-display [displayError]="isFieldValid(employeeForm, 'currentStateId')" errorMsg="Select current state">
              </app-field-error-display>
            </div>
            <div class="form-group">
              <label for="currentPincode"> Pincode </label><span style="color:red">*</span>
              <input type="text" class="form-control" id="currentPincode" formControlName="currentPincode">
              <app-field-error-display [displayError]="isFieldValid(employeeForm, 'currentPincode')" errorMsg="Enter valid 6 digit current pincode">
              </app-field-error-display>
            </div>
          </div>

          <div class="sections">
            <div class="section-heading">
              <h2>Educational Details</h2>
            </div>
            <div class="form-group">
              <label for="courseId"> Course </label>
              <select class="form-control" formControlName="courseId" (change)="fn_getSelectedCourse($event)">
                <option value="">--Select--</option>
                <option *ngFor="let course of courseArray" value={{course.id}}>
                  {{course.name}}
                </option>
              </select>
              <!-- <app-field-error-display [displayError]="isFieldValid(employeeForm, 'courseId')" errorMsg="Select course">
              </app-field-error-display> -->
            </div>
            <div class="form-group">
              <label for="yearOfPassing">Year Of Passing </label>
              <select class="form-control" formControlName="yearOfPassing">
                <option value="">--Select--</option>
                <option *ngFor="let passingYear of yearOfPassingArray" value={{passingYear.year}}>
                  {{passingYear.year}}
                </option>
              </select>
              <!-- <app-field-error-display [displayError]="isFieldValid(employeeForm, 'yearOfPassing')" errorMsg="Select course">
              </app-field-error-display> -->
            </div>
            <div class="form-group">
              <label for="institute"> Institution </label>
              <input type="text" class="form-control" id="institution" formControlName="institution">
              <!-- <app-field-error-display [displayError]="isFieldValid(employeeForm, 'institution')" errorMsg="Enter institute anme">
              </app-field-error-display> -->
            </div>
            <div class="form-group">
              <label for="institute"> Percentage </label>
              <input type="text" class="form-control" id="percentage" formControlName="percentage">
              <!-- <app-field-error-display [displayError]="isFieldValid(employeeForm, 'percentage')" errorMsg="Enter valid percentage">
              </app-field-error-display> -->
            </div>
            <div class="form-group">
              <input type="button" class="btn btn-default" id="btnAddNewEducationDetails" value="Add" (click)="fn_addNewCourse()">
            </div>
            <div class="container">
              <table class="table" id="educationDetailsTable">
                <thead>
                  <tr>
                    <th hidden="hidden">CourseID</th>
                    <th>Course</th>
                    <th>Year of Passing (YYYY)</th>
                    <th>School/College/University</th>
                    <th>Percentage %</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let educationField of educationArray; let i = index">
                    <td hidden="hidden">
                      <label>{{educationField.courseId}}</label>
                    </td>
                    <td>
                      <label>{{educationField.course}}</label>
                    </td>
                    <td>
                      <label>{{educationField.yearOfPassing}}</label>
                    </td>
                    <td>
                      <label>{{educationField.institution}}</label>
                    </td>
                    <td>
                      <label>{{educationField.percentage}}</label>
                    </td>
                    <td>
                      <button class="btn btn-default" type="button" (click)="fn_deleteCourse(i)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="form-group">
                <label for="Interest">Interest: </label><span style="color:red">*</span>
                <div *ngFor="let interest of interestArray; let i=index" class="col-md-2">
                  <label>
                    <input type="checkbox" [value]="interest.value" (change)="fn_onInterestChange($event)" [(ngModel)]="interest.selected"
                      [ngModelOptions]="{standalone: true}">
                    {{interest.description}}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="other-details"> Note (If any): </label>
                <textarea class="form-control" id="note" formControlName="note"></textarea>
              </div>
            </div>
          </div>
          <div class="sections">
            <div class="section-heading">
              <h2>Login Details</h2>
            </div>
            <div class="form-group">
              <label for="email">Email :</label><span style="color:red">*</span>
              <input type="email" class="form-control" id="email" formControlName="email">
              <app-field-error-display [displayError]="isFieldValid(employeeForm, 'email')" errorMsg="Enter email id">
              </app-field-error-display>
            </div>
            <div class="form-group">
              <label for="password">Password :</label><span style="color:red">*</span>
              <input type="password" class="form-control" id="password" formControlName="password">
              <app-field-error-display [displayError]="isFieldValid(employeeForm, 'password')" errorMsg="Enter password">
              </app-field-error-display>
            </div>
          </div>
          <div class="btn-sections">
            <button id="btnSubmit" class="btn btn-primary btn-md">Submit</button>
            <button type="button" class="btn btn-default btn-md ml-3" (click)="fn_resetEmployeeDetails()">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>