<nav class="header-border-bottom navbar navbar-expand-lg bg-white pt-3 fixed-top">
    <a class="navbar-brand" href="#"><img _ngcontent-c1="" class="prft-logo ml-3 ng-tns-c1-0" src="assets/images/prft.png"></a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">
        <form class="form-inline my-2 my-lg-0">
            <!-- <input class="form-control mr-sm-2" type="text" placeholder="{{ 'Search' | translate }}" > -->
        </form>
        <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item d-none d-xl-block">
                <a
                    href="https://github.com/start-angular/SB-Admin-BS4-Angular-7/archive/master.zip"
                    class="nav-link btn mt-1" role="button"
                    style="padding: .375rem 1rem !important;border-color: #999;"
                >
                    {{ 'Download Now' | translate }}
                </a>
            </li> &nbsp; -->
            <!-- <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link mt-1"
                    style="padding: 0.375rem 1rem !important; border-color: #999;"
                    (click)="rltAndLtr()"
                >
                    RTL/LTR
                </a>
            </li> &nbsp; -->



            <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link">
                    <i class="fa fa-user"></i> John Smith <b class="caret"></b>
                </a>



            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']" (click)="onLoggedout()">
                    <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
                </a>
            </li>
        </ul>
    </div>
</nav>