<div class="row">
    <div class="col col-xl-12 col-lg-12">
        <div class="card mb-3">
            <div class="card-header">
                <h1 class="h3 font-weight-bold mb-0">Users</h1>
                <button [routerLink]="['/manage/examlist']" class="btn btn-primary ml-2 pull-right"><span><i
                            class="fa fa-arrow-left"></i></span>
                    Back
                </button>
            </div>

            <div class="datatable-header">
                <div class="mx-1 row">
                    <div class="col-md-2">
                        <div class="">
                            <select class="custom-select" id="inlineFormCustomSelect"
                                (change)="setRecordPerPage($event)">
                                <option value="10" selected>Per Page</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-md btn-primary dropdown-toggle" data-toggle="dropdown">
                            Check List
                        </button>
                        <div class="dropdown-menu">
                            <button class="dropdown-item" type="button">Checked all</button>
                            <button class="dropdown-item" type="button">Unchecked all</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <input (keyup)="searchRecord($event)" type="text" ng-model="search" id="serach"
                            placeholder="Search" class="form-control" />
                        <a href="#" class="search-icon">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive pb-0">
                <table class="table table-hover table-striped  table-bordered">
                    <thead>
                        <tr>
                            <th style="width:125px;">Assign Exam</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Team</th>
                            <th class="th-width">Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ngx-ui-loader></ngx-ui-loader>
                        <tr *ngFor="let user of userList; let i = index">
                            <td style="text-align:center;">
                                <div>
                                    <input type="checkbox" value="isAssign" [checked]="user.isExamAssigned" (change)="fn_isAssign($event,user.id)">
                                </div>
                            </td>
                            <td>{{user.firstName}} {{user.lastName}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                <div *ngIf="user.team!=null">{{user?.team?.name}}</div>
                            </td>
                            <td style="text-align:center;">
                                <i class="fa"
                                    [ngClass]="{'fa-check text-success': user.isActive, 'fa-times text-danger': !user.isActive}"
                                    aria-hidden="true">
                                </i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination class="pt-0 mt-0 btn btn-md pull-right" [totalItems]="userModel.totalRecords"
                [itemsPerPage]="userModel.pageSize" (pageChanged)="pageChanged($event)" [maxSize]="3"
                [boundaryLinks]="true" [rotate]="false" previousText="PREVIOUS" nextText="NEXT" firstText="FIRST"
                lastText="LAST">
            </pagination>
        </div>
    </div>
</div>