<div class="card">
  <div class="card-header">
    <h1 class="font-weight-bold h3 mb-0">Question Categories</h1>
  </div>
  <div class="datatable-header">
    <div class="mx-1 row justify-content-between">
      <div class="col-md-2">
        <div class="">
          <select class="custom-select" id="inlineFormCustomSelect" (change)="setRecordPerPage($event)">
            <option value="10" selected>Per Page</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
      </div>
      <div class="col">
        <button type="button" data-toggle="modal" data-target="#addModal" title="Add Question" class="btn-primary btn btn-md"
          (click)="frmReset()">
          Add
        </button>
      </div>
      <div class="col-md-3">
        <input (keyup.enter)="searchRecord($event)" type="text" ng-model="search" id="serach" placeholder="Search"
          class="form-control" />
        <i class="fa fa-search search-icon pt-1"></i>
      </div>
    </div>
  </div>
  <div class="card-body pb-0 table-responsive">
    <table class="table table-hover table-bordered table-striped">
      <thead>
        <tr>
          <th class="th-width" (click)="expression"> Sr.</th>
          <th> Title</th>
          <th> Description </th>
          <th class="th-width"> Active </th>
          <th style="width:120px;"> Action</th>
        </tr>
      </thead>
      <tbody>
        <ngx-ui-loader></ngx-ui-loader>
        <tr *ngFor="let category of categoryList; let i = index">
          <td data-toggle="modal" data-target="#editModal" (click)="fn_GetCategoryById(category.id)">{{(categoryModel.pageNumber-1)*10
            + i +1 }}</td>
          <td class="td-width-title-description" data-toggle="modal" data-target="#editModal" (click)="fn_GetCategoryById(category.id)">{{ category.name}}</td>
          <td class="td-width-title-description" data-toggle="modal" data-target="#editModal" (click)="fn_GetCategoryById(category.id)"> {{
            category.description}} </td>
          <td data-toggle="modal" data-target="#editModal" (click)="fn_GetCategoryById(category.id)">
            <i class="fa" [ngClass]="{'fa-check text-success': category.isActive, 'fa-times text-danger': !category.isActive}"
              aria-hidden="true">
            </i>
          </td>
          <td>
            <!-- <button title="Edit" class=" btn btn-md" type="button" rel="tooltip" [routerLink]="['/manage/editCategory', category.id]">
              <i class="fa fa-pencil-square-o text-dark" aria-hidden="true"></i>
            </button> -->
            <button title="Change Status" class="mx-1 btn btn-md" type="button" rel="tooltip" (click)="fn_ChangeStatus(category.id, category.isActive)">
              <i class="fa" [ngClass]="{'fa-toggle-on text-success': category.isActive, 'fa-toggle-off text-danger': !category.isActive}"
                aria-hidden="true"></i>
            </button>
            <button title="Delete" class="btn btn-md" type="button" rel="tooltip" (click)="fn_deleteCategory(category.id)">
              <i class="fa text-danger fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination class="pull-right pr-2" [totalItems]="totalItems" [itemsPerPage]="params.pageSize" (pageChanged)="pageChanged($event)"
    [maxSize]="3" [boundaryLinks]="true" [rotate]="false" previousText="PREVIOUS" nextText="NEXT" firstText="FIRST"
    lastText="LAST">
  </pagination>
</div>
<!-- Modal for Add Question Category -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addQuestionCategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addQuestionCategory">Add question category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="categoryForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="categoryTitle">Title<span class="text-danger">*</span></label>
            <input formControlName="categoryTitle" type="text" class="form-control" id="categoryTitle" aria-describedby="titleHelp"
              placeholder="Enter title">
            <div *ngIf="categoryTitle.touched && categoryTitle.errors" class="alert alert-danger">
              Question category title is required
            </div>
          </div>
          <div class="form-group">
            <label for="categoryDescription">Description</label>
            <textarea formControlName="categoryDescription" type="text" class="form-control" id="categoryDescription"
              placeholder="Enter description"></textarea>
            <div *ngIf="categoryDescription.touched && categoryDescription.invalid"   class="alert alert-danger">
              Question category description is required
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!categoryForm.valid" (click)="fn_saveCategory(categoryForm)"
            data-dismiss="modal">Submit</button>
          <button type="reset" class="btn btn-danger">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal for Edit Question Category -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editQuestionCategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editQuestionCategory">Edit question category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="categoryForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="categoryTitle">Title<span class="text-danger">*</span></label>
            <input formControlName="categoryTitle" type="text" class="form-control" id="categoryTitle" aria-describedby="titleHelp"
              placeholder="Enter title">
            <div *ngIf="categoryTitle.touched && categoryTitle.errors" class="alert alert-danger">
              Question category title is required
            </div>
          </div>
          <div class="form-group">
            <label for="categoryDescription">Description</label>
            <textarea formControlName="categoryDescription" type="text" class="form-control" id="categoryDescription"
              placeholder="Enter description"></textarea>
            <div *ngIf="categoryDescription.touched && categoryDescription.invalid"   class="alert alert-danger">
              Question category description is required
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!categoryForm.valid" (click)="fn_updateCategory(categoryForm)"
            data-dismiss="modal">Update</button>
          <button type="reset" class="btn btn-danger">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>