<div>
  <div class="card">
    <div class="card-header">
      <h1 class="h3 font-weight-bold mb-0">Exams</h1>
    </div>
    <div class="card-body datatable-header">
      <div class="row">
        <div class="col-md-2 align-items-start">
          <select class="custom-select" id="inlineFormCustomSelect" (change)="setRecordPerPage($event)">
            <option selected>Per Page</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
        <div class="col align-items-start">
          <div class="">
            <button [routerLink]="['/manage/addexam']" class="btn btn-md btn-primary" title="Add Exam">Add</button>
          </div>
        </div>
        <div class="col-md-3">
          <input (keyup)="searchRecord($event)" type="text" ng-model="search" id="serach" placeholder="Search" class="form-control" />
          <a href="#" class="search-icon">
            <i class="fa fa-search"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="card-body py-0 table-responsive ">
      <table class="table table-hover table-striped table-bordered">
        <thead>
          <tr>
            <th class="th-width">Sr.</th>
            <th>Question Paper</th>
            <th>Team</th>
            <th>Duration</th>
            <th class="th-width-action">Total Question</th>
            <th class="th-width-action" style="width: 120px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <ngx-ui-loader></ngx-ui-loader>
          <tr *ngFor="let exam of examList; let i = index">
            <td [routerLink]="['/manage/editExam', exam.id]">{{(params.pageNumber-1)*10 + i +1 }}</td>
            <td [routerLink]="['/manage/editExam', exam.id]">{{exam.title | slice:0:35}}</td>
            <td [routerLink]="['/manage/editExam', exam.id]">{{exam.team==null? 'All':exam.team.name}}</td>
            <td [routerLink]="['/manage/editExam', exam.id]">{{exam.examDurationHours}} Hrs {{exam.examDurationMinutes}} Mins</td>
            <td [routerLink]="['/manage/editExam', exam.id]">{{exam.totalQuestions}}</td>
            <td>
              <!-- <a [routerLink]="['/manage/questionList', exam.id]" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <i class="fa fa-monument"></i>&nbsp;
                    <span>{{ 'View Question' }}</span>
                  </a> -->
              <button class="btn btn-md " title="View Questions" [routerLink]="['/manage/questionList', exam.id]"
                [routerLinkActive]="['router-link-active']" type="button" rel="tooltip" (click)="fn_getEmployee(exam.id)">
                <i class="fa fa-eye text-primary" aria-hidden="true"></i>
              </button>&nbsp;
              <button class="btn btn-md" title="Delete Exam" type="button" rel="tooltip" (click)="fn_deleteExam(exam.id)">
                <i class="fa fa-trash text-danger" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <pagination class="pt-0 mt-0 btn btn-md pull-right" [totalItems]="totalItems" [itemsPerPage]="params.pageSize"
      (pageChanged)="pageChanged($event)" [maxSize]="3" [boundaryLinks]="true" [rotate]="false" previousText="PREVIOUS"
      nextText="NEXT" firstText="FIRST" lastText="LAST">
    </pagination>
  </div>
</div>
