<div>
  <div class="card">
    <div class="card-header">
      <h1 class="h3 font-weight-bold mb-0">Exams</h1>
    </div>
    <div class="card-body datatable-header">
      <div class="row">
        <div class="col-md-2 align-items-start">
          <select class="custom-select" id="inlineFormCustomSelect" (change)="setRecordPerPage($event)">
            <option value="10" selected>Per Page</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
        <div class="col align-items-start">
          <div class="">
            <button [routerLink]="['/admin/manage/addexam']" class="btn btn-md btn-primary" title="Add Exam">Add</button>
          </div>
        </div>
        <div class="col-md-3">
          <input (keyup)="searchRecord($event)" type="text" ng-model="search" id="serach" placeholder="Search" class="form-control" />
          <a href="#" class="search-icon">
            <i class="fa fa-search"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="card-body py-0 table-responsive ">
      <table class="table table-hover table-striped table-bordered">
        <thead>
          <tr>
            <th class="th-width">Sr.</th>
            <th>Question Paper</th>
            <th>Team</th>
            <th>Duration (HH:MM)</th>
            <th style="width:270px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <ngx-ui-loader></ngx-ui-loader>
          <tr *ngFor="let exam of examList; let i = index">
            <td [routerLink]="['/admin/manage/editExam', exam.id]">{{(params.pageNumber-1)*10 + i +1 }}</td>
            <td [routerLink]="['/admin/manage/editExam', exam.id]">{{exam.title | slice:0:35}}</td>
            <td [routerLink]="['/admin/manage/editExam', exam.id]">{{exam.team==null? 'All':exam.team.name}}</td>
            <td [routerLink]="['/admin/manage/editExam', exam.id]">{{exam.examDurationHours}} : {{exam.examDurationMinutes}} </td>
            <td>
              <button class="btn btn-md " title="View Questions" [routerLink]="['/admin/manage/questionList', exam.id]"
                [routerLinkActive]="['router-link-active']" type="button" rel="tooltip">
                <i class="fa fa-eye text-primary" aria-hidden="true"></i>
              </button>&nbsp;
              <button class="btn btn-md" title="Assign User" [routerLink]="[ '/admin/manage/userList' , exam.id ]" [routerLinkActive]="['router-link-active']" type="button" rel="tooltip">
                <i class="fa fa-user text-primary" aria-hidden="true"></i>
              </button>&nbsp;
              <button class="btn btn-md" title="View Result" [routerLink]="[ '/admin/manage/resultList' , exam.id ]" [routerLinkActive]="['router-link-active']" type="button" rel="tooltip">
                <i class="fa fa-file-text-o text-primary" aria-hidden="true"></i>
              </button>&nbsp;
              <button title="Change Status" class="btn btn-md" type="button" rel="tooltip" (click)="fn_ChangeStatus(exam.id, exam.isActive)">
                  <i class="fa" [ngClass]="{'fa-toggle-on text-success': exam.isActive, 'fa-toggle-off text-danger': !exam.isActive}"
                    aria-hidden="true"></i>
              </button>&nbsp;
              <button class="btn btn-md" title="Delete Exam" type="button" rel="tooltip" (click)="fn_deleteExam(exam.id)">
                <i class="fa fa-trash text-danger" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <pagination class="pt-0 mt-0 btn btn-md pull-right" [totalItems]="totalItems" [itemsPerPage]="  "
      (pageChanged)="pageChanged($event)" [maxSize]="3" [boundaryLinks]="true" [rotate]="false" previousText="PREVIOUS"
      nextText="NEXT" firstText="FIRST" lastText="LAST">
    </pagination>
  </div>
</div>
