<div id="teamList">
  <div class="card">
    <div class="card-header">
      <h1 class="font-weight-bold h3 mb-0">Teams</h1>
    </div>
    <div class="card-body pb-0">
      <div class="row justify-content-end">
        <div class="col-md-2">
          <select class="custom-select" id="inlineFormCustomSelect" (change)="setRecordPerPage($event)">
            <option selected>Per Page</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
        <div class="col">
          <button [routerLink]="['/manage/addTeam']" title="Add Team" class="btn btn-md btn-primary">Add
          </button>
        </div>
        <div class="col-md-3">
          <input (keyup)="searchRecord($event)" type="text" ng-model="search" id="serach" placeholder="Search" class="form-control" />
          <a href="#" class="search-icon">
            <i class="fa fa-search"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="card-body pb-0 table-responsive">
      <table class="table table-hover table-striped  table-bordered">
        <thead>
          <tr>
            <th class="th-width">Sr.</th>
            <th>Title</th>
            <th>Description</th>
            <th class="th-width">Active</th>
            <th class="th-width-action">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of teamList; let i = index">
            <td>{{(teamModel.pageNumber-1)*10 + i +1 }}</td>
            <td>{{team.name}}</td>
            <td>{{team.description}}</td>
            <td>
              <i class="fa" [ngClass]="{'fa-check text-success': team.isActive, 'fa-times text-danger': !team.isActive}"
                aria-hidden="true">
              </i>
            </td>
            <td>
              <button class="btn btn-md" title="Edit" type="button" rel="tooltip" [routerLink]="['/manage/editTeamList', team.id]">
                <i class="fa text-dark fa-pencil-square-o" aria-hidden="true"></i>
              </button>
              <button class="btn btn-md mx-1" title="Change Status" type="button" rel="tooltip" (click)="fn_ChangeStatus(team.id, team.isActive)">
                <i class="fa" [ngClass]="{'fa-toggle-on text-success':team.isActive, 'fa-toggle-off text-danger': !team.isActive}"
                  aria-hidden="true"></i>
              </button>
              <button class="btn btn-md" title="Delete" type="button" rel="tooltip" (click)="fn_deleteTeam(team.id)">
                <i class="fa fa-trash text-danger" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination class="pull-right pr-2" [totalItems]="totalItems" [itemsPerPage]="params.pageSize" (pageChanged)="pageChanged($event)"
      [maxSize]="3" [boundaryLinks]="true" [rotate]="false" previousText="PREVIOUS" nextText="NEXT" firstText="FIRST"
      lastText="LAST">
    </pagination>
  </div>
</div>