<div id="teamList">
  <div class="card">
    <div class="card-header">
      <h1 class="font-weight-bold h3 mb-0">Teams</h1>
    </div>
    <div class="card-body pb-0">
      <div class="row justify-content-end">
        <div class="col-md-2">
          <select class="custom-select" id="inlineFormCustomSelect" (change)="setRecordPerPage($event)">
            <option selected>Per Page</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
        <div class="col">
          <button  (click)="frmReset()" data-toggle="modal" data-target="#addModal" title="Add Team" class="btn btn-md btn-primary">Add
          </button>
        </div>
        <div class="col-md-3">
          <input (keyup.enter)="searchRecord($event)" type="text" ng-model="search" id="serach" placeholder="Search"
            class="form-control" />
          <i class="fa fa-search search-icon pt-1"></i>
        </div>
      </div>
    </div>
    <ngx-ui-loader></ngx-ui-loader>
    <div class="card-body pb-0 table-responsive">
      <table class="table table-hover table-striped  table-bordered">
        <thead>
          <tr>
            <th class="th-width">Sr.</th>
            <th>Title</th>
            <th>Description</th>
            <th class="th-width">Active</th>
            <th class="th-width-action">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of teamList; let i = index">
            <td data-toggle="modal" data-target="#editModal" (click)="fn_GetTeamById(team.id)">{{(teamModel.pageNumber-1)*10 + i +1 }}</td>
            <td data-toggle="modal" data-target="#editModal" (click)="fn_GetTeamById(team.id)">{{team.name}}</td>
            <td data-toggle="modal" data-target="#editModal" (click)="fn_GetTeamById(team.id)">{{team.description}}</td>
            <td data-toggle="modal" data-target="#editModal" (click)="fn_GetTeamById(team.id)">
              <i class="fa" [ngClass]="{'fa-check text-success': team.isActive, 'fa-times text-danger': !team.isActive}"
                aria-hidden="true">
              </i>
            </td>
            <td>
              <!-- <button class="btn btn-md" title="Edit" type="button" rel="tooltip"
                [routerLink]="['/manage/editTeamList', team.id]">
                <i class="fa text-dark fa-pencil-square-o" aria-hidden="true"></i>
              </button> -->
              <button class="btn btn-md mx-1" title="Change Status" type="button" rel="tooltip"
                (click)="fn_ChangeStatus(team.id, team.isActive)">
                <i class="fa"
                  [ngClass]="{'fa-toggle-on text-success':team.isActive, 'fa-toggle-off text-danger': !team.isActive}"
                  aria-hidden="true"></i>
              </button>
              <button class="btn btn-md" title="Delete" type="button" rel="tooltip" (click)="fn_deleteTeam(team.id)">
                <i class="fa fa-trash text-danger" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination class="pull-right pr-2" [totalItems]="totalItems" [itemsPerPage]="params.pageSize"
      (pageChanged)="pageChanged($event)" [maxSize]="3" [boundaryLinks]="true" [rotate]="false" previousText="PREVIOUS"
      nextText="NEXT" firstText="FIRST" lastText="LAST">
    </pagination>
  </div>
</div>
<!-- Modal for Add Team -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addTeam"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTeam">Add Team</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="teamForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="teamTitle">Title</label>
            <input formControlName="teamTitle" type="text" class="form-control" id="teamTitle"
              aria-describedby="titleHelp" placeholder="Enter Title">
            <div *ngIf="teamTitle.touched && teamTitle.errors" class="alert alert-danger">
              Team title is required
            </div>
          </div>
          <div class="form-group">
            <label for="teamDescription">Description</label>
            <textarea formControlName="teamDescription" type="text" class="form-control" id="teamDescription"
              placeholder="Enter Description"></textarea>
            <div *ngIf="teamDescription.touched && teamDescription.invalid"   class="alert alert-danger">
              Team description is required
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!teamForm.valid"
            (click)="fn_saveTeam(teamForm)" data-dismiss="modal">Submit</button>
            <button data-dismiss="modal" class="btn btn-secondary">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal for Edit Team -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editTeam"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editTeam">Edit Team</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="teamForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="teamTitle">Title</label>
            <input formControlName="teamTitle" type="text" class="form-control" id="teamTitle"
              aria-describedby="titleHelp" placeholder="Enter Title">
            <div *ngIf="teamTitle.touched && teamTitle.errors" class="alert alert-danger">
              Team title is required
            </div>
          </div>
          <div class="form-group">
            <label for="teamDescription">Description</label>
            <textarea formControlName="teamDescription" type="text" class="form-control" id="teamDescription"
              placeholder="Enter Description"></textarea>
            <div *ngIf="teamDescription.touched && teamDescription.invalid"   class="alert alert-danger">
              Team description is required
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!teamForm.valid"
            (click)="fn_updateTeam(teamForm)" data-dismiss="modal">Submit</button>
          <button data-dismiss="modal" class="btn btn-secondary">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>