<div class="row justify-content-center">
    <div class="col-md-12 mt-2">
        <h3 class="text-center">ADD CATEGORY</h3>
    </div>
    <div class="col-md-7 mt-3">
        <form class="" [formGroup]="categoryForm" (ngSubmit)="fn_saveCategory(categoryForm)">
            <div *ngIf="categoryForm.errors" class="div alert alert-danger">
                The categorry title is required
            </div>
            <div class="form-group row">
              <label for="categoryTitle" class="col-sm-3 col-form-label">Category Title</label>
              <div class="col-sm-9">
                <input 
                    formControlName="categoryTitle"
                    type="text" 
                    class="form-control" 
                    id="categoryTitle" 
                    placeholder="Category Name">
                <div *ngIf="categoryTitle.touched && categoryTitle.invalid" class="alert alert-danger">Category title is required</div>
              </div>  
            </div>
            
            <div class="form-group row ">
                <label for="isActive" class="col-sm-3 col-form-label">Is Active</label>
                <div class="col-sm-9">
                        <input 
                        formControlName="categoryisActive"
                        type="checkbox" class="ml-1 form-check-input" id="isACtive">
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-md">Submit</button>
            <button type="reset" class="btn btn-primary btn-md ml-3">Reset</button>

        </form>
    </div>
</div>
