<div>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    <h1 class="h3 font-weight-bold mb-0">Result</h1>
                    <button [routerLink]="['/manage/examlist']" class="btn btn-primary ml-2 pull-right"><span><i
                                class="fa fa-arrow-left"></i></span>
                        Back
                    </button>
                </div>

                <div class="datatable-header">
                    <div class="row mx-1 justify-content-between">
                        <div class="col-md-2">
                            <div class="">
                                <select class="custom-select" id="inlineFormCustomSelect"
                                    (change)="setRecordPerPage($event)">
                                    <option value="10" selected>Per Page</option>
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <input (keyup)="searchRecord($event)" type="text" ng-model="search" id="serach"
                                placeholder="Search" class="form-control" />
                            <a href="#" class="search-icon">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card-body table-responsive pb-0">
                    <table class="table table-hover table-striped  table-bordered">
                        <thead>
                            <tr>
                                <th class="th-width">Sr.</th>
                                <th>Name</th>
                                <th>Questions Attempted</th>
                                <th>Marks Obtained</th>
                                <th>Total Marks</th>
                                <th class="th-width">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ngx-ui-loader></ngx-ui-loader>
                            <tr *ngFor="let user of userList; let i = index">
                                <td style="text-align:center;">{{i+1}}</td>
                                <td>{{user.employee.firstName}} {{user.employee.lastName}}</td>
                                <td>{{user.questionsAttempted}}</td>
                                <td>{{user.obtainedMarks}}</td>
                                <td>{{user.totalMarks}}</td>
                                <td>
                                    <button class="btn btn-md" title="View Detail Result" [routerLink]="[ '/manage/detailedResult', user.employee.id ]" [routerLinkActive]="['router-link-active']" type="button" rel="tooltip">
                                        <i class="fa fa-file-text-o text-primary" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination class="pt-0 mt-0 btn btn-md pull-right" [totalItems]="userModel.totalRecords"
                    [itemsPerPage]="userModel.pageSize" (pageChanged)="pageChanged($event)" [maxSize]="3"
                    [boundaryLinks]="true" [rotate]="false" previousText="PREVIOUS" nextText="NEXT" firstText="FIRST"
                    lastText="LAST">
                </pagination>
            </div>
        </div>
    </div>
</div>