<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <!-- <a routerLink="/user/employeelist" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'User' | translate }}</span>
        </a> -->
        <!-- <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Charts' | translate }}</span>
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;
            <span>{{ 'Tables' | translate }}</span>
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;
            <span>{{ 'Forms' | translate }}</span>
        </a> -->

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-user"></i>&nbsp;
                <span>{{ 'Users' }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/user/adminuserlist" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Admin Users' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <!-- <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Employees' | translate }}</span>
                        </a> -->
                        <a routerLink="/user/employeelist" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Employees' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/user/traineelist" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Trainee Users' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('manage')">
                <i class="fa fa-cogs"></i>&nbsp;
                <span>{{ 'Manage' }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'manage'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/manage/examlist" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Exam' }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/manage/categorylist" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Category'}}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="list-group-item">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Tags' }}</span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)" class="list-group-item">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Team' }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/manage/designationlist" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Designation'}}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="list-group-item">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Project' }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="list-group-item">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Resource'}}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="list-group-item">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Query window' }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>