<div [@routerTransition]>
    <h2 class="text-muted">Dashboard </h2>
    <!-- <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div> -->
    <hr>
    <div class="row">
        <div class="col-xl-1 col-lg-1"></div>
        <div class="col-xl-5 col-lg-5 dashboard-div">
                <a [routerLink]="['/user/adminuserlist']" class="list-group-item">
                    <app-stat [bgClass]="'primary'" [icon]="'fa-user'"  [label]="'Admin Users'" ></app-stat>
                </a>
        </div>
        <div class="col-xl-5 col-lg-5 dashboard-div">
                <a [routerLink]="['/user/employeelist']" class="list-group-item">
                <app-stat [bgClass]="'warning'" [icon]="'fa-users'" [label]="'Employees'" ></app-stat>
                </a>
        </div>
        <div class="col-xl-1 col-lg-1"></div>
        <div class="col-xl-1 col-lg-1"></div>
        <div class="col-xl-5 col-lg-5 dashboard-div">
                <a [routerLink]="['/user/traineelist']" class="list-group-item">
                    <app-stat [bgClass]="'success'" [icon]="'fa-user-circle'" [label]="'Trainee Drive'" ></app-stat>
                </a>
        </div>
        <div class="col-xl-5 col-lg-5 dashboard-div">
                <a [routerLink]="['/charts']" class="list-group-item">
                    <app-stat [bgClass]="'danger'" [icon]="'fa-file-text'" [label]="'Manage Exams'"></app-stat>
                </a>
           
        </div>
    </div>
   
   
</div>
