<div id="stateList">
  <div class="card mb-3">
    <div class="card-header">
      <h1 class="h3 font-weight-bold mb-0">
        States
      </h1>
    </div>
    <div class="row card-body pb-0">
      <div class="col-md-2">
        <div class="">
          <select class="custom-select" id="inlineFormCustomSelect" (change)="setRecordPerPage($event)">
            <option selected>Per Page</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
      </div>
      <div class="col">
        <button (click)="frmReset()" data-toggle="modal" data-target="#addModal" class="btn btn-md btn-primary" title="Add State">Add
        </button>
      </div>
      <div class="col-md-3">
        <input (keyup.enter)="searchRecord($event)" type="text" ng-model="search" id="serach" placeholder="Search" class="form-control" />
        <a href="#" class="search-icon">
          <i class="fa fa-search"></i>
        </a>
      </div>
    </div>
    <div class="card-body pb-0 table-responsive">
      <table class="table table-hover table-striped  table-bordered">
        <thead>
          <tr>
            <th class="th-width">Sr.</th>
            <th>State</th>
            <th>Description</th>
            <th class="th-width">Active</th>
            <th class="th-width-action">Action</th>
          </tr>
        </thead>
        <tbody>
          <ngx-ui-loader></ngx-ui-loader>
          <tr *ngFor="let state of stateList; let i = index">
            <td data-toggle="modal" data-target="#editModal" (click)="fn_GetStateById(state.id)">{{(stateModel.pageNumber-1)*10 + i +1 }}</td>
            <td data-toggle="modal" data-target="#editModal" (click)="fn_GetStateById(state.id)">{{state.name}}</td>
            <td data-toggle="modal" data-target="#editModal" (click)="fn_GetStateById(state.id)">{{state.description}}</td>
            <td data-toggle="modal" data-target="#editModal" (click)="fn_GetStateById(state.id)">
              <i class="fa" [ngClass]="{'fa-check text-success': state.isActive, 'fa-times text-danger': !state.isActive}"
                aria-hidden="true">
              </i>
            </td>
            <td>
              <!-- <button title="Edit" class="btn btn-md" type="button" rel="tooltip" [routerLink]="['/manage/editDegree', state.id]">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </button> -->
              <button title="Change Status" class="btn btn-md mx-1" type="button" rel="tooltip" (click)="fn_ChangeStatus(state.id, state.isActive)">
                <i class="fa" [ngClass]="{'fa-toggle-on text-success': state.isActive, 'fa-toggle-off text-danger': !state.isActive}"
                  aria-hidden="true"></i>
              </button>
              <button title="Delete" class="btn btn-md" type="button" rel="tooltip" (click)="fn_deleteState(state.id)">
                <i class="fa fa-trash text-danger" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination class="pull-right pr-2" [totalItems]="totalItems" [itemsPerPage]="params.pageSize" (pageChanged)="pageChanged($event)"
      [maxSize]="3" [boundaryLinks]="true" [rotate]="false" previousText="PREVIOUS" nextText="NEXT" firstText="FIRST"
      lastText="LAST"></pagination>
  </div>
</div>

<!-- Modal for Add States -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addState" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addState">Add State</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="stateForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="stateTitle">Title</label>
            <input formControlName="stateTitle" type="text" class="form-control" id="stateTitle" aria-describedby="titleHelp"
              placeholder="Enter Title">
            <div *ngIf="stateTitle.touched && stateTitle.errors" class="alert alert-danger">
              State title is required
            </div>
          </div>
          <div class="form-group">
            <label for="stateDescription">Description</label>
            <textarea formControlName="stateDescription" type="text" class="form-control" id="stateDescription"
              placeholder="Enter Description"></textarea>
            <div *ngIf="stateDescription.touched && stateDescription.invalid"   class="alert alert-danger">
              State description is required
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!stateForm.valid" (click)="fn_saveState(stateForm)"
            data-dismiss="modal">Submit</button>
          <button data-dismiss="modal" class="btn btn-secondary">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal for edit States -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editState" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addState">Edit State</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="stateForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="stateTitle">Title</label>
            <input formControlName="stateTitle" type="text" class="form-control" id="stateTitle" aria-describedby="titleHelp"
              placeholder="Enter Title">
            <div *ngIf="stateTitle.touched && stateTitle.errors" class="alert alert-danger">
              State title is required
            </div>
          </div>
          <div class="form-group">
            <label for="stateDescription">Description</label>
            <textarea formControlName="stateDescription" type="text" class="form-control" id="stateDescription"
              placeholder="Enter Description"></textarea>
            <div *ngIf="stateDescription.touched && stateDescription.invalid"   class="alert alert-danger">
              State description is required
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!stateForm.valid" (click)="fn_updateState(stateForm)"
            data-dismiss="modal">Update</button>
          <button data-dismiss="modal" class="btn btn-secondary">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>