<div id="stateList">
  <div class="card mb-3">
    <div class="card-header">
      <h1 class="h3 font-weight-bold mb-0">
        States
      </h1>
    </div>
    <div class="row card-body pb-0">
      <div class="col-md-2">
        <div class="">
          <select class="custom-select" id="inlineFormCustomSelect" (change)="setRecordPerPage($event)">
            <option selected>Per Page</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
      </div>
      <div class="col" style="display: inline-block;">
        <button [routerLink]="['/manage/addState']" class="btn btn-md btn-primary" title="Add State">Add
        </button>
      </div>
      <div class="col-md-3">
        <input (keyup)="searchRecord($event)" type="text" ng-model="search" id="serach" placeholder="Search" class="form-control" />
        <a href="#" class="search-icon">
          <i class="fa fa-search"></i>
        </a>
      </div>
    </div>
    <div class="card-body pb-0 table-responsive">
      <table class="table table-hover table-striped  table-bordered">
        <thead>
          <tr>
            <th class="th-width">Sr.</th>
            <th>State Title</th>
            <th>Description</th>
            <th class="th-width">Active</th>
            <th class="th-width-action">Action</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let state of stateList; let i = index">
            <td>{{i + 1}}</td>
            <td>{{state.name}}</td>
            <td>{{state.description}}</td>
            <td>
              <i class="fa" [ngClass]="{'fa-check text-success': state.isActive, 'fa-times text-danger': !state.isActive}"
                aria-hidden="true">
              </i>
            </td>
            <td>
              <button title="Edit" class="btn btn-md" type="button" rel="tooltip" [routerLink]="['/manage/editDegree', state.id]">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </button>
              <button title="Change Status" class="btn btn-md mx-1" type="button" rel="tooltip" (click)="fn_ChangeStatus(state.id, state.isActive)">
                <i class="fa" [ngClass]="{'fa-toggle-on text-success': state.isActive, 'fa-toggle-off text-danger': !state.isActive}"
                  aria-hidden="true"></i>
              </button>
              <button title="Delete" class="btn btn-md" type="button" rel="tooltip" (click)="fn_deleteState(state.id)">
                <i class="fa fa-trash text-danger" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination class="pull-right pr-2" [totalItems]="10" [itemsPerPage]="params.pageSize" (pageChanged)="pageChanged($event)"
      [maxSize]="3" [boundaryLinks]="true" [rotate]="false" previousText="PREVIOUS" nextText="NEXT" firstText="FIRST"
      lastText="LAST"></pagination>
  </div>
</div>