<div class="row justify-content-center">
    <div class="col-md-12 mt-2">
        <h3 class="text-center">ADD TEAM</h3>
    </div>
    <div class="col-md-7 mt-3">
        <form class="" [formGroup]="teamForm" (ngSubmit)="fn_saveTeam(teamForm)">
            <div *ngIf="teamForm.errors" class="div alert alert-danger">
                The team title is required
            </div>
            <div class="form-group row">
              <label for="teamTitle" class="col-sm-3 col-form-label">Team Title:</label>
              <div class="col-sm-9">
                <input 
                    formControlName="teamTitle"
                    type="text" 
                    class="form-control" 
                    id="teamTitle" 
                    placeholder="Team Name">
                <div *ngIf="teamTitle.touched && teamTitle.invalid" class="alert alert-danger">Team title is required</div>
              </div>  
            </div>

            <!-- <div class="form-group row">
                <label for="teamDescription" class="col-sm-3 col-form-label">Description:</label>
                <div class="col-sm-9">
                  <textarea 
                      formControlName="teamDescription"
                      class="form-control" 
                      id="teamDescription" 
                      placeholder="Team Description"></textarea>
                  <div *ngIf="teamDescription.touched && teamDescription.invalid" class="alert alert-danger">Team description is required</div>
                </div>  
              </div> -->
            
            <div class="form-group row ">
                <label for="isActive" class="col-sm-3 col-form-label">Is Active:</label>
                <div class="col-sm-9">
                        <input 
                        formControlName="teamisActive"
                        type="checkbox" class="ml-1 form-check-input" id="isACtive">
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-md">Submit</button>
            <button type="reset" class="btn btn-primary btn-md ml-3">Reset</button>

        </form>
    </div>
</div>
