<div class="row no-gutters">
  <div class="col-md-5 pr-2">
    <div>
      <div class="card">
        <div class="card-header">
          <h1 class="h3 font-weight-bold mb-0">
            Questions
          </h1>
          <div class="back-btn">
            <button type="reset" class="btn btn-md btn-primary mr-2" title="Add new question" (click)="loadQuestionForm()">
              Add
            </button>
            <button class="btn btn-primary btn-md mr-2" title="Preview All Questions" data-toggle="modal" data-target="#previewAllModal">Preview</button>
            <div class="upload-btn-wrapper">
              <button class="btn btn-primary " title="Import Question">Import</button>
              <input (change)="fn_fileChange($event)" type="file" name="myfile" style="width:72px;" />
            </div>
            <button [routerLink]="['/manage/examlist']" class="btn btn-primary ml-2"><span><i class="fa fa-arrow-left"></i></span>
              Back
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="">
                <select class="custom-select" id="inlineFormCustomSelect" (change)="setRecordPerPage($event)">
                  <option value="10" selected>Per Page</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>
            </div>
            <div class="col">
              <input (keyup)="searchRecord($event)" type="text" ng-model="search" id="serach" placeholder="Search"
                class="form-control" />
              <a href="#" class="search-icon">
                <i class="fa fa-search"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body py-0 table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>Sr.</th>
                <th>Questions</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <ngx-ui-loader></ngx-ui-loader>
              <tr *ngFor="let question of questionList; let i = index">
                <td (click)="editQuestion(question.id)">{{(questionModel.pageNumber-1)*10 + i +1 }}</td>
                <td (click)="editQuestion(question.id)" title="{{question.question}}" [innerHTML]="question.question | slice:0:40"></td>
                <td>
                  <button class="btn btn-md " type="button" rel="tooltip" (click)="deleteQuestion(question.id)">
                    <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination class="mr-2 pull-right" [totalItems]="totalItems" [itemsPerPage]="questionModel.pageSize"
          (pageChanged)="pageChanged($event)" [maxSize]="3" [boundaryLinks]="true" [rotate]="false" previousText="PREVIOUS"
          nextText="NEXT" firstText="FIRST" lastText="LAST">
        </pagination>
      </div>
    </div>
  </div>


  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        <h1 class="font-weight-bold h3 mb-0">{{formTitle}}</h1>
      </div>
      <div class="card-body">
        <form [formGroup]="questionForm" (ngSubmit)="onSubmit(questionForm)">
          <input type="hidden" formControlName="examID" value="1212121212">
          <div class="sections">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="sel1">Question Category</label>
                  <select class="form-control" formControlName="questionCategory" #questionCategory>
                    <option value="" selected>--Select--</option>
                    <option *ngFor="let category of categoryList; let i = index" value="{{category.id}}">
                      {{category.name}}</option>
                  </select>
                  <app-field-error-display [displayError]="isFieldValid(questionForm, 'questionCategory')" errorMsg="Select any Question Category">
                  </app-field-error-display>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="middleName">Question Type</label>
                  <select formControlName="questionType" class="form-control" (change)="loadOptions($event.target.value)">
                    <option value="" selected>--Select--</option>
                    <option value="multipleSelect">Multiple Select(Checkbox)</option>
                    <option value="SingleSelect">Single Select(Radio Button)</option>
                    <option value="subjective">Subjective</option>
                  </select>
                  <app-field-error-display [displayError]="isFieldValid(questionForm, 'questionType')" errorMsg="Select any Question Type">
                  </app-field-error-display>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="lastName">Question</label>
              <!-- <ejs-richtexteditor formControlName="questionText"></ejs-richtexteditor> -->
              <textarea formControlName="questionText" class="question-textarea"></textarea>
              <!-- <input type="textarea" formControlName="questionText" class="form-control"> -->
              <app-field-error-display [displayError]="isFieldValid(questionForm, 'questionText')" errorMsg="Please enter Question">
              </app-field-error-display>
            </div>

            <div *ngIf="multipleSelectFlag" class="pl-4 py-4 mb-4" style="border:1px solid lightgray">
              <!-- Answer Options -->
              <div class="row no-gutters">
                <!-- <div class="col">Options</div>
                  <div class="col text-end">Answer</div> -->
              </div>
              <div formArrayName="obj_multiSelectOptions">

                <div class="row no-gutters" *ngFor="let option of questionForm.controls.obj_multiSelectOptions.controls; let i = index">

                  <!-- <div class="col-md-2">
                      <input type="checkbox" formControlName="multipleSelectOptionsCorrectAns" class="form-control">
                    </div> -->
                  <div class="col-12" [formGroupName]="i">
                    <div class="row">
                      <div class="col-md-1 mt-1">
                        <label for="lastName">{{i+1}})</label>
                      </div>
                      <div class="col-md-3 mt-1 px-0">
                        <label for="ans">Is correct answer?</label>
                      </div>
                      <div class="col-1 mt-2 px-0">
                        <input type="checkbox" formControlName="multipleSelectOptionsCorrectAns" class="form-control">
                      </div>
                    </div>
                    <div class="col-12">
                      <!-- <input type="text" formControlName="multipleSelectOptions" class="form-control form-control-sm"> -->
                      <!-- <ejs-richtexteditor formControlName="multipleSelectOptions" class="mt-1"></ejs-richtexteditor> -->
                      <textarea formControlName="multipleSelectOptions" class="mt-1"></textarea>
                    </div>
                    <!-- <div class="col-1">
                      <input type="checkbox" formControlName="multipleSelectOptionsCorrectAns" class="form-control">
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="no-gutters">
                <button class=" mt-2 btn btn-sm btn-primary offset-md-1" title="Add Options" type="button" rel="tooltip"
                  (click)="addSubstractMultipleSelectOptions('add')">
                  <!-- Add Options -->
                  <i class="fa fa-plus" title="Add Options" aria-hidden="true"></i>
                </button>
                <button class="ml-1 mt-2 btn btn-sm btn-primary" type="button" rel="tooltip" (click)="addSubstractMultipleSelectOptions('sub')"
                  title="Remove Last Option">
                  <!-- Remove Last Options -->
                  <i class="fa fa-minus" title="Remove Last Options" aria-hidden="true"></i>
                </button>
              </div>
            </div>

            <div *ngIf="singleSelectFlag" class="pl-4 py-4 mb-4" style="border:1px solid lightgray">
              <div>
                <div class="" *ngFor="let option of questionForm.controls.obj_singleSelectOptions.controls; let i = index">
                  <div class="row">
                    <div class="col-md-1 mt-1">
                      <label for="lastName">{{i+1}})</label>
                    </div>
                    <div class="col-md-3 mt-1 px-0">
                      <label for="ans">Is correct answer?</label>
                    </div>
                    <div class="col-1 mt-2 px-0">
                      <input type="radio" name="singleSelectOptionsCorrectAns" value="{{i}}" formControlName="singleSelectOptionsCorrectAns"
                        class="form-control">
                    </div>
                  </div>
                  <div class="row no-gutters mr-1" formArrayName="obj_singleSelectOptions">
                    <div class="col-12" [formGroupName]="i">
                      <div class="col-12">
                        <!-- <input type="text" formControlName="singleSelectOptions" class="form-control form-control-sm"> -->
                        <!-- <ejs-richtexteditor formControlName="singleSelectOptions" class="mt-1"></ejs-richtexteditor> -->
                        <textarea formControlName="singleSelectOptions" class="mt-1"></textarea>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-2 pt-2">
                    <input type="radio" name="singleSelectOptionsCorrectAns" value="{{i}}"
                      formControlName="singleSelectOptionsCorrectAns" class="form-control">
                  </div> -->
                </div>
              </div>

              <div class="mt-2  no-gutters">
                <button title="Add Options" class="btn btn-sm btn-primary offset-md-1" type="button" rel="tooltip"
                  (click)="addSubstractSingleSelectOptions('add')">
                  <!-- Add Options -->
                  <i class="fa fa-plus" title="Add Options" aria-hidden="true"></i>
                </button>
                <button title="Remove Last Options" class="btn btn-sm ml-1 btn-primary offset-md-1" type="button" rel="tooltip"
                  (click)="addSubstractSingleSelectOptions('sub')">
                  <!-- Remove Last Options -->
                  <i class="fa fa-minus" title="Remove Last Options" aria-hidden="true"></i>
                </button>
              </div>
            </div>

            <app-field-error-display [displayError]="displayErrorOption" errorMsg="Please Enter/Select Valid Options">
            </app-field-error-display>
          </div>
          <button class="btn btn-md btn-primary" type="button" data-toggle="modal" data-target="#previewModal">Preview
            Question</button>
          <button class="btn btn-danger ml-1 btn-md pull-right" type="button" (click)="resetAll()">Reset</button>
          <button class="btn btn-primary btn-md pull-right" type="submit">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<!-- <div class="modal fade bd-example-modal-lg" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="previewModalLabel">Preview Question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <pre class="core-pre  Merriweather" innerHTML="{{questionDetail?.question}}">
        </pre>
        <hr>
        <div class="text-primary" *ngIf="questionDetail?.questionType == 0">
          <div class="" *ngFor="let option of questionDetail?.options; let i=index">
            <input class="ml-3" type="radio">
            <span class="mx-3">{{i+1}}.</span>
            <span style="display:inline-flex" innerHTML="{{option.option}}"></span>
          </div>
        </div>
        <div class="text-primary" *ngIf="questionDetail?.questionType == 1">
          <div class="" *ngFor="let option of questionDetail?.options; let i=index">
            <input class="ml-3" type="checkbox">
            <span class="mx-3">{{i+1}}.</span>
            <span style="display:inline-flex" innerHTML="{{option.option}}"></span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="previewModalLabel">Preview Question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <pre class="core-pre  Merriweather" innerHTML="{{questionForm.controls.questionText.value}}">
          
        </pre>
        <hr>
        <div class="text-primary" *ngIf="singleSelectFlag">
          <div class="" *ngFor="let option of questionForm.controls.obj_singleSelectOptions.controls; let i=index">
            <input class="ml-3" type="radio">
            <span class="mx-3">{{i+1}}.</span>
            <span style="display:inline-flex" innerHTML="{{option.controls.singleSelectOptions.value}}"></span>
          </div>
        </div>
        <div class="text-primary" *ngIf="multipleSelectFlag">
          <div class="" *ngFor="let option of questionForm.controls.obj_multiSelectOptions.controls; let i=index">
            <input class="ml-3" type="checkbox">
            <span class="mx-3">{{i+1}}.</span>
            <span style="display:inline-flex" innerHTML="{{option.controls.multipleSelectOptions.value}}"></span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Model for preview All Question -->
<div class="modal fade bd-example-modal-lg" id="previewAllModal" tabindex="-1" role="dialog" aria-labelledby="previewAllModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="previewAllModalLabel">Preview All Question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="" *ngFor="let item of previewQuestionList; let i=index">
          <pre class="core-pre Merriweather" innerHTML="{{ (i+1) + '. ' + item?.question}}">
          </pre>
          <div class="text-primary" *ngIf="item?.questionType == 0">
            <div class="" *ngFor="let option of item?.options; let i=index">
              <input (change)="setOptionIdArray($event)" type="radio" name="{{currentQuestionQuestionId}}" id="" value="{{option?.optionId}}">
              <span class="mx-3">{{i+1}}.</span>
              <span style="display:inline-flex" innerHTML="{{option.option}}"></span>
            </div>
          </div>
          <div class="text-primary" *ngIf="item?.questionType == 1">
            <div class="" *ngFor="let option of item?.options; let i=index">
              <input class="ml-3" type="checkbox" value="{{option?.optionId}}" name="{{currentQuestionQuestionId}}"
                (change)="setOptionIdArray($event)">
              <span class="mx-3">{{i+1}}.</span>
              <span style="white-space: normal; box-sizing: border-box;" innerHTML="{{option.option}}"></span>
            </div>
          </div>
          <div class="" *ngIf="item?.questionType == 2">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Ans.</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" placeholder="Enter your answer"></textarea>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
