<div class="row">
  <div class="col-md-5">
    <div>
      <div class="card">
        <div class="card-header">
          <h1 class="h3 font-weight-bold mb-0">
            Questions
          </h1>
          <div class="back-btn">
            <button class="btn btn-md btn-primary mr-2" title="Add new question" (click)="loadQuestionForm()">
              Add
            </button>
            <button [routerLink]="['/manage/importExamQuestion']" class="btn btn-md btn-primary mr-2" title="Import Questions">
              Import
            </button>
            <button [routerLink]="['/manage/examlist']" class="btn btn-primary"><span><i class="fa fa-arrow-left"></i></span>
              Back
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="">
                <select class="custom-select" id="inlineFormCustomSelect" (change)="setRecordPerPage($event)">
                  <option selected>Per Page</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>
            </div>
            <!-- </div>    -->
            <!-- <div class="col-md-2" style="display: inline-block;">
                          <button [routerLink]="['/manage/addExamQuestion', examID]" class="btn-primary">Add Question</button>
                        </div> -->
            <!-- [(ngModel)]="params.searchString" -->
            <!-- <div class=""> -->
            <div class="col">
              <input (keyup)="searchRecord($event)" type="text" ng-model="search" id="serach" placeholder="Search"
                class="form-control" />
              <a href="#" class="search-icon">
                <i class="fa fa-search"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body py-0 table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>Sr.</th>
                <th>Question</th>
                <!-- <th style="width:140px;">Question Type</th> -->
                <!-- <th>Category</th> -->
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr>
                                  <th>Sr. No.</th>
                                  <th>Question</th>
                                  <th>Question Type</th>
                                  <th>Category</th>
                                  <th>
                                    <button type="button" rel="tooltip" (click)="fn_getEmployee(question.id)">
                                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>&nbsp;
                                    <button type="button" rel="tooltip" (click)="fn_deleteEmployee(question.id)">
                                      <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                  </th>
                                </tr> -->
              <ngx-ui-loader></ngx-ui-loader>
              <tr *ngFor="let question of questionList; let i = index">
                <td (click)="editQuestion(question.id)">{{(questionModel.pageNumber-1)*10 + i +1 }}</td>
                <td (click)="editQuestion(question.id)" title="{{question.question}}" [innerHTML]="question.question | slice:0:40"></td>
                <!-- <td>{{question.questionType}}</td> -->
                <!-- <td>{{question.categoryId}}</td> -->
                <td>
                  <!-- <button class="btn btn-md" type="button" rel="tooltip" (click)="editQuestion(question.id)">
                    <i class="fa fa-pencil-square-o text-dark" aria-hidden="true"></i>
                  </button>&nbsp; -->
                  <button class="btn btn-md " type="button" rel="tooltip" (click)="deleteQuestion(question.id)">
                    <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination class="mr-2 pull-right" [totalItems]="totalItems" [itemsPerPage]="questionModel.pageSize"
          (pageChanged)="pageChanged($event)" [maxSize]="3" [boundaryLinks]="true" [rotate]="false" previousText="PREVIOUS"
          nextText="NEXT" firstText="FIRST" lastText="LAST">
        </pagination>
      </div>
    </div>
  </div>


  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        <h1 class="font-weight-bold h3 mb-0">{{formTitle}}</h1>
      </div>
      <div class="card-body">
        <form [formGroup]="questionForm" (ngSubmit)="onSubmit(questionForm)">
          <input type="hidden" formControlName="examID" value="1212121212">
          <div class="sections">
            <div class="row">
              <div class="col-6">
                <div class="form-group"> 
                  <label for="sel1">Question Category</label>
                  <select class="form-control" formControlName="questionCategory" #questionCategory>
                    <option selected="selected" value="">Select</option>
                    <option *ngFor="let category of categoryList; let i = index" value="{{category.id}}">{{category.name}}</option>
                  </select>
                  <app-field-error-display [displayError]="isFieldValid(questionForm, 'questionCategory')" errorMsg="Select any Question Category">
                  </app-field-error-display>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="middleName">Question Type</label>
                  <select formControlName="questionType" class="form-control" (change)="loadOptions($event.target.value)">
                    <option value="">Select</option>
                    <option value="multipleSelect">Multiple Select(Checkbox)</option>
                    <option value="SingleSelect">Single Select(Radio Button)</option>
                    <option value="subjective">Subjective</option>
                  </select>
                  <app-field-error-display [displayError]="isFieldValid(questionForm, 'questionType')" errorMsg="Select any Question Type">
                  </app-field-error-display>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="lastName">Question</label>
              <ejs-richtexteditor formControlName="questionText"></ejs-richtexteditor>
              <!-- <input type="textarea" formControlName="questionText" class="form-control"> -->
              <app-field-error-display [displayError]="isFieldValid(questionForm, 'questionText')" errorMsg="Please enter Question">
              </app-field-error-display>
            </div>
            <div *ngIf="multipleSelectFlag" class="pl-4 py-4 mb-4" style="border:1px solid lightgray">
              <!-- Answer Options -->
              <div class="row no-gutters">
                <!-- <div class="col">Options</div>
                <div class="col text-end">Answer</div> -->
              </div>
              <div formArrayName="obj_multiSelectOptions">

                <div class="row no-gutters" *ngFor="let option of questionForm.controls.obj_multiSelectOptions.controls; let i = index">
                  <div class="col-1 pt-1">
                    <label for="lastName">{{i+1}})</label>
                  </div>
                  <div class="col-10" [formGroupName]="i">
                    <div class="row no-gutters">
                      <div class="col-11">
                        <!-- <input type="text" formControlName="multipleSelectOptions" class="form-control form-control-sm"> -->
                        <ejs-richtexteditor formControlName="multipleSelectOptions" class="mt-1"></ejs-richtexteditor>
                      </div>
                      <div class="col-1  pt-2">
                        <input type="checkbox" formControlName="multipleSelectOptionsCorrectAns" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="no-gutters">
                <button class=" mt-2 btn btn-sm btn-primary offset-md-1" title="Add Options" type="button" rel="tooltip"
                  (click)="addSubstractMultipleSelectOptions('add')">
                  <!-- Add Options -->
                  <i class="fa fa-plus" title="Add Options" aria-hidden="true"></i>
                </button>
                <button class="ml-1 mt-2 btn btn-sm btn-primary" type="button" rel="tooltip" (click)="addSubstractMultipleSelectOptions('sub')"
                  title="Remove Last Option">
                  <!-- Remove Last Options -->
                  <i class="fa fa-minus" title="Remove Last Options" aria-hidden="true"></i>
                </button>
              </div>
            </div>

            <div class="pl-4 py-4 mb-4" style="border:1px solid lightgray" *ngIf="singleSelectFlag">
              <!-- Answer Options -->
              <div>
                <!-- <div>Options</div>
                <div>Correct Answer</div> -->
              </div>
              <div>
                <div class="row no-gutters" *ngFor="let option of questionForm.controls.obj_singleSelectOptions.controls; let i = index">
                  <div class="mt-1 col-1">
                    <label for="lastName">{{i+1}})</label>
                  </div>
                  <div class="col-9" formArrayName="obj_singleSelectOptions">
                    <div [formGroupName]="i">
                      <div>
                        <!-- <input type="text" formControlName="singleSelectOptions" class="form-control form-control-sm"> -->
                        <ejs-richtexteditor formControlName="singleSelectOptions" class="mt-1"></ejs-richtexteditor>                        
                      </div>
                    </div>
                  </div>
                  <div class="col-2 pt-2">
                    <input type="radio" name="singleSelectOptionsCorrectAns" value="{{i}}" formControlName="singleSelectOptionsCorrectAns"
                      class="form-control">
                  </div>
                </div>
              </div>

              <div class="mt-2  no-gutters">
                <button title="Add Options" class="btn btn-sm btn-primary offset-md-1" type="button" rel="tooltip"
                  (click)="addSubstractSingleSelectOptions('add')">
                  <!-- Add Options -->
                  <i class="fa fa-plus" title="Add Options" aria-hidden="true"></i>
                </button>
                <button title="Remove Last Options" class="btn btn-sm ml-1 btn-primary offset-md-1" type="button" rel="tooltip"
                  (click)="addSubstractSingleSelectOptions('sub')">
                  <!-- Remove Last Options -->
                  <i class="fa fa-minus" title="Remove Last Options" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <app-field-error-display [displayError]="displayErrorOption" errorMsg="Please Enter/Select Valid Options">
            </app-field-error-display>
          </div>
          <button class="btn btn-danger ml-1 btn-md pull-right" type="button" (click)="resetAll()">Reset</button>
          <button class="btn btn-primary btn-md pull-right" type="submit">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>