<form  class="my-2 my-lg-0" [formGroup]="userRegistration" (ngSubmit)="registerUser(userRegistration)">
  <div class="form-group">
    <label for="FirstName">First Name</label>
    <input type="text" class="form-control" id="FirstName" formControlName="firstName" placeholder="First Name">
  </div>
  <div class="form-group">
    <label for="MiddleName">Middle Name</label>
    <input type="text" class="form-control" id="MiddleName" formControlName="middleName" placeholder="Middle Name">
  </div>
  <div class="form-group">
    <label for="LastName">Last Name</label>
    <input type="text" class="form-control" id="LastName" formControlName="lastName" placeholder="Last Name">
  </div>


  <div class="form-group">
    <label for="Email1">Email address</label>
    <input type="email" class="form-control" id="Email1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  

  <div class="form-group">
    <label for="DateOfBirth">Date of Birth</label>
    <input type="text" class="form-control" id="DateOfBirth" placeholder="Date of Birth">
  </div>

  <div class="form-group">
    <label for="Phone">Phone</label>
    <input type="text" class="form-control" id="Phone" placeholder="Phone">
  </div>


  <div class="form-group">
    <label for="Mobile">Mobile</label>
    <input type="text" class="form-control" id="Mobile" placeholder="Mobile">
  </div>


  <div class="form-group">
    <label for="City">City</label>
    <input type="text" class="form-control" id="City" placeholder="City">
  </div>

  <div class="form-group">
    <label for="State">State</label>
    <input type="text" class="form-control" id="State" placeholder="State">
  </div>


  <div class="form-group">
    <label for="PermanentCity">Permanent City</label>
    <input type="text" class="form-control" id="PermanentCity" placeholder="Permanent City">
  </div>

  <div class="form-group">
    <label for="PermanentState">Permanent State</label>
    <input type="text" class="form-control" id="PermanentState" placeholder="Permanent State">
  </div>

  
  <div class="form-group">
    <label for="SSCYear">SSC - Year of Passing</label>
    <input type="text" class="form-control" id="SSCYear" placeholder="SSC - Year of Passing">
  </div>

  <div class="form-group">
    <label for="SSCMarks">SSC - Marks</label>
    <input type="text" class="form-control" id="SCCMarks" placeholder="SCC - Marks">
  </div>

  <div class="form-group">
    <label for="HSSCYear">HSSC - Year of Passing</label>
    <input type="text" class="form-control" id="HSSCYear" placeholder="HSSC - Year of Passing">
  </div>


  <div class="form-group">
    <label for="HSSCMarks">HSSC - Marks</label>
    <input type="text" class="form-control" id="HSCCMarks" placeholder="HSCC - Marks">
  </div>

  <div class="form-group">
    <label for="Degree">Degree</label>
    <input type="text" class="form-control" id="Degree" placeholder="Degree">
  </div>

  <div class="form-group">
    <label for="DegreeYear">Degree - Year of Passing</label>
    <input type="text" class="form-control" id="DegreeYear" placeholder="Degree - Year of Passing">
  </div>

  

  
  <div class="form-group">
    <label for="University">College/University</label>
    <input type="text" class="form-control" id="University" placeholder="College/University">
  </div>

  <div class="form-group">
    <label for="DegreeMarks">Marks</label>
    <input type="text" class="form-control" id="DegreeMarks" placeholder="Marks">
  </div>

  
  <div class="form-group">
    <label for="Experience">Experience</label>
    <input type="text" class="form-control" id="Experience" placeholder="Experience">
  </div>

  <div class="form-group">
    <label for="CurrentEmployer">Current Employer</label>
    <input type="text" class="form-control" id="CurrentEmployer" placeholder="Current Employer">
  </div>

  <div class="form-group">
    <label for="JobLocation">Job Location</label>
    <input type="text" class="form-control" id="JobLocation" placeholder="Job Location">
  </div>

  <div class="form-group">
    <label for="OtherDetails">Other Details</label>
    <input type="text" class="form-control" id="OtherDetails" placeholder="Other Details">
  </div>
  <div class="form-group">
    <label for="ExamAssigned">Exam Assigned</label>
    <input type="text" class="form-control" id="ExamAssigned" placeholder="Exam Assigned">
  </div>

  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>